<section>

<form [formGroup]="manualForm">
    <select (change)="changePosition()" formControlName="itemname">
        <option *ngFor="let place of places" [value]="place">{{translate(place)}}</option>
    </select>

    <select (change)="changePosition()" *ngIf="isAdmin" formControlName="cust_ID_Main">
        <option *ngFor="let custId of custIds" [value]="custId.key">{{custId.name}}</option>
    </select>

    <ejs-richtexteditor [locale] = 'editor.localization' class="editor" id='defaultRTE' #rte [height]="'600px'" [width]="'95%'" (imageUploading)="onImageSelected($event)" formControlName="manual" #sample [insertImageSettings]='editor.insertImageSettings' [toolbarSettings]='editor.toolbarSettings' (afterImageDelete)="afterImageDelete($event)" (imageUploadSuccess)='onImageUploadSuccess($event)'>

    </ejs-richtexteditor>
</form>  
<button class="btn btn-secondary btn-lg btn-block save" type="button" (click)="save()">
    {{dictionary.getTranslate('save','Сохранить')}} <i class="fas fa-save"></i>
</button>
</section>
  
