.catalog-control{
    min-height: 100vh;
    padding: 5px 0px 120px 10px;
    .phone-control{
        margin-top: 0px;
        max-width: 400px;
        .flex{
            display: flex;
            flex-direction: column;
        }
        .validation{
            padding-top: 10px
        }
        // display: flex;
        // flex-direction: row;
        // input{
        //     height: 30px;
        //     margin-right: 10px;
        //     border-radius: 5px;
        //     text-align: center;
        //     border-color: darkmagenta;    
        //     margin-bottom: 15px;    
        // }
    }
    .list-group{
        max-width: 500px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                transform: scale(1.8);
                cursor: pointer;
            }
            span{
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .select-position{
        width: 300px !important;
        margin-top: 20px;
    }
}