<section>
    <div id="page-content-wrapper" >
        <div class="containe">
    
          <section [formGroup]="form">
            <div class="row">
              <div class="event col-md-12">
                <div class="form-group mr-2">
                  <input type="text" class="search" formControlName="searchWord" placeholder="Поиск по названию">
                </div>
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                          <input matStartDate formControlName="start" placeholder="Start date">
                          <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      
                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                </div>

                <div class="find d-flex mr-2 mb-2">
                    <button type="button" class="btn btn-light mr-3" (click)="reset()">Сброс</button>
                    <button type="button" class="btn btn-light" (click)="getAdverts()">Найти</button>
                </div>
              </div>
              <div class="header col-md-12">
                <div class="col-md-11 d-flex" style="padding: 0 25px;">
                  <div class="col-md-3">
                   <span class="title">Название</span>
                  </div>
                  <div class="col-md-2">
                    <span class="title">Дата создания</span>
                  </div>
                  <div class="col-md-2">
                    <span class="title">Отображение (откл/вкл)</span>
                  </div>
                  <div class="col-md-3">
                    <span class="title">---</span>
                  </div>
                </div>
              </div>
            </div>
        
            <div *ngIf="paginateConfig.totalItems == 0 && isLoaded" class="row main">
              <div class="col-md-12 col-sm-12 tr white">
                <div class="col-md-9 info pt-2">
                  <div class="alert alert-danger not-found" role="alert">
                    За выбраный период обьявлений не обнаружено.
                  </div>
                </div>
              </div>
            </div>
            <div class="row main">
              <div
                *ngFor="let prod of advertsList | paginate: paginateConfig; let i = index"
                class="col-md-12 col-sm-12 tr"
                [ngClass]="(i%2)?'white':'white'"
              >
              
                <div class="col-md-11 info">
                  <div class="col-md-3 personal">
                    <p *ngIf="prod.tName">{{prod.tName}}</p>
                  </div>
        
                  <div class="col-md-2 statuses">
                    <span>{{prod.createdAt}}</span>
                  </div>
                  <div class="col-md-2 dates">
                    <mat-slide-toggle [id]="prod.prc_ID" [checked]="!prod.isHid" (change)="showHideAdvert($event)"></mat-slide-toggle>
                  </div>
        
                  <div class="col-md-3 end">
                    
                  </div>
                </div>
                <div class="col-md-1 edit d-flex">
                  <i class="fa fa-trash-o" (click)="deleteAdvert(prod)" aria-hidden="true"></i>
                </div>
        
              </div>
              <div *ngIf="paginateConfig.totalItems > paginateConfig.itemsPerPage" class="pagination">
                <div class="col-md-12">
                  <pagination-controls
                  maxSize="7"
                  autoHide="true"
                  (pageChange)="getAdverts($event)"
                  class="list-pagination"
                ></pagination-controls>
                </div>
              </div>
              
            </div>
        </section>
        </div>
      </div>
</section>
