@import '../../../assets/constants/constants.scss';
section{
    background-color: rgb(248, 245, 245);
    height: calc(100vh - 87px);
    width: 100%;
    overflow: auto !important;

      
      
      .containe{
        width: 100%;
      section{
       // background: linear-gradient(to right,#aebbc0, #BBCAD2);
        min-height: calc(100vh - 135px);
        width: 85%;
        margin: 0 auto;
        padding-bottom: 20px;
        .path {
          margin-top: 20px;
          margin-bottom: 19px;
          p{
            a{
              color:#518BB9;
            }
          }
        }
      
        .storageSelection{
          width: 600px;
        }
      }
      
      .operations {
        width: 100%;
       // background: #fff;
        .title{
          @include display-align(flex, center);
          background: #fff;
          padding: 30px 0 30px 30px;
          .titleButton{
            @include display-justify(flex, space-between);
            padding-right: 0px;
            span{
              @include display-align-justify(flex, center, center);
              width: 100%;
              height: 45px;
              cursor: pointer;
            }
            .schedule{
              @include operation-navigate(#C1D2D6, $color-blue, polygon(0 0, 100% 0%, 90% 100%, 0% 100%));
            }
            .extraordinary{
              margin-left: -15px;
              @include operation-navigate( #F0F1F2, $color-blue, polygon(10% 0, 100% 0%, 90% 100%, 0% 100%));
            }
            .list{
              margin-left: -15px;
              @include operation-navigate($color-blue, #F0F1F2, polygon(10% 0, 100% 0%, 100% 100%, 0% 100%));
            }
          }
        }  
        .settings {
          @include display-align(inline-flex, center);
          padding-left: 0;
          img {
            width: 50px;
            margin-right: 30px;
          }        
          p {
            font-size: 20px;
            text-transform: uppercase;
            .blue{
            color: #518bb9;
            }
          }
        }
      }
      
      .pagination{
        padding: 15px 0;
        width: 100%;
        div{
          @include display-justify(flex, center);
        }
        .list-pagination{
          padding: 15px 15px 0px 15px;
          text-align: center;
          background: #f0f1f2;
          border-radius: 50px;
          ::ng-deep .ngx-pagination .current {
            background: $color-blue;
          }
        }
      }
      
      .not-found{
        margin-top: 15px;
      }
      .event{
        @include display-align(flex, center);
        background-color: #343a40;
        margin-top: 13px;
        padding-top: 10px;
        .search{
          height: 35px;
          width: 260px;
          border-radius: 5px;
          padding-left: 10px;
          margin: 0px 20px 10px 20px;
        }
        .checkbox_values{
          span{
            color: white;
            margin: 0 5px 0px 5px;
            font-size: 15px;
          }
          input{
            transform: scale(1.3);
          }
        }
        .find{
          display: flex;
          justify-content: space-between;
          margin-left: auto;
        }
        .select-n{
          width: 160px !important;
        }
        div>select {
        //  width: 100%;
        //  height: 50px;
          padding-left: 22px;
          border: 1px solid $color-blue;
          .storageSelection{
            width: 600px;
          }
        }
        .print {
          @include display-align-justify(flex, center, flex-end);
          height: 100%;
          button {
            width: 50%;
            height: 50px;
            border: 1px solid $color-blue;
            background: #F0F1F2;
          }
        }
      }
      
      ::ng-deep .mat-form-field {
        background: #f0f1f2 !important;
        height: 35px !important;
        margin-bottom: 5px;
      }
      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
        padding: 0px !important;
      }
      
      .header{
        @include display-align(flex, center);
        background-color: rgb(95, 86, 86);
        height: 20px;
        .title{
          color: white;
          font-weight: bolder;
          font-size: 12px;
        }
      }
      
      
      .main{
        .tr.white{
          background-color: #f0f1f2;
          border-bottom: 1px #bbcad2 solid;
          padding: 0 25px;
        }
        .tr.grey{
          background-color: #bbcad2;
        }
        .tr.interrupted {
          background-color: rgba(255, 0, 0, 0.664);
        }
        .tr{
          width: 100%;
          height: 60px;
          min-height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .info {
            @include display-align(flex, center);
            .statuses {
              @include display-align-justify(flex, center, center);
              span {
                color: $color-blue;
                font-size: 18px;
                margin: 0;
                border-radius: 50px;
                width: 100%;
                text-align: left;
              }
            }
            .dates {
              text-align: left;
              p{
                margin: 0;
                font-size: 18px;
              }
            }
            .personal{
              text-align: left;
              font-weight: lighter;
              p{
                margin: 0;
                font-size: 16px;
                color: green;
              }
            }
          }
          .edit{
            text-align: right;
            button{
              color: #2E4A57;
              background: transparent;
              width: 80%;
              border: 1px solid #5D727D;
              border-radius: 0;
              text-align: center;
              margin-right: 0;
              font-size: 18px;
            }
          }
        }
      
        .pagination{
          padding: 15px 0;
          width: 100%;
          div{
            @include display-justify(flex, center);
          }
          .list-pagination{
            padding: 15px 15px 0px 15px;
            text-align: center;
            background: #f0f1f2;
            border-radius: 50px;
          }
        }
      
      }
      
      }
      
      ::ng-deep .ngx-pagination .current {
        background: $color-blue;
      }  
}

::ng-deep .mat-form-field-flex {
    background: #f0f1f2 !important;
    height: 35px !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
    padding: 0px 0px 0px 7px !important;
    font-size: 16px;
  }

  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: lightskyblue;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: lightskyblue;
}
.fa-trash-o{
    transform: scale(1.5);
    cursor: pointer;
    &:hover{
        font-weight: bold;
        color: blue;
    }
}