<h2 mat-dialog-title> {{ data ? dictionary.getTranslate("edit-map-point", "Редактирование точки") : dictionary.getTranslate("new-map-point", "Добавление новой точки") }} </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addingForm">
    <div class="card-body col-md-12">
      <div class="form-group">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="name"
              > {{ dictionary.getTranslate("name-point", "Название точки") }} <span class="important">*</span></label
            >
            <input
              type="text"
              [ngClass]="{ 'error-border': submitted && f['geoname'].errors }"
              class="form-control"
              id="name"
              formControlName="geoname"
              placeholder=""
            />
            <div class="error">
              <div *ngIf="submitted && f['geoname'].errors">
                <div *ngIf="f['geoname']['errors']['required']">
                  {{dictionary.getTranslate("input_required_value", "Введите название точки")}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="location_lat">{{ dictionary.getTranslate("latitude", "Широта") }}</label>
            <input
              type="number"
              formControlName="latitude"
              class="form-control"
              id="location_lat"
              placeholder="52.465824"
            />
            <div class="error">
              <div *ngIf="submitted && f['latitude'].errors">
                <div *ngIf="f['latitude']['errors']['required']">
                  {{dictionary.getTranslate("input_required_value", "Введите координату широты")}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="location_long">{{ dictionary.getTranslate("longtitude", "Долгота") }}</label>
            <input
              type="number"
              formControlName="longitude"
              class="form-control"
              id="location_long"
              placeholder="30.816873"
            />
            <div class="error">
              <div *ngIf="submitted && f['longitude'].errors">
                <div *ngIf="f['longitude']['errors']['required']">
                  {{dictionary.getTranslate("input_required_value", "Введите координату долготы")}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="coordinate-button">
              <button (click)="choosePoint()" type="button" class="btn btn-info">
                {{ dictionary.getTranslate("choose-on-map", "выбрать на карте") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close class="btn btn-danger">
    {{ dictionary.getTranslate("cancel", "Отмена") }}
  </button>
  <button type="button" mat-button (click)="save()" class="btn btn-success">
    {{ dictionary.getTranslate("save", "Сохранить") }}
  </button>
</mat-dialog-actions>
