<section>
    <form class="firm" [formGroup]="firmForm"> 
        <input type="text" placeholder="{{ dictionary.getTranslate('firm_name', 'название фирмы') }}" formControlName="firma" />
        <button [disabled]="firmForm.invalid" (click)="makeOrder()" type="button" class="btn btn-secondary btn-sm">{{ dictionary.getTranslate("make_order", "Сформировать заказ") }}</button>
    </form>
    <form class="restaurant-form" [formGroup]="restaurantForm">
        <ng-container formArrayName="table">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>{{ dictionary.getTranslate("owner", "Владелец") }}</th>
                    <th>{{ dictionary.getTranslate("phone", "Телефон") }}</th>
                    <th>{{ dictionary.getTranslate("table", "Стол") }}</th>
                    <th>{{ dictionary.getTranslate("cheir", "Стул") }}</th>
                    <th>{{ dictionary.getTranslate("date", "Дата") }}</th>
                    <th> сброс </th>
                  </tr>
                 
                </thead>
                <tbody>
                    <ng-container *ngFor="let row of tableForm; index as p">
                        <tr class="tbl" [formGroupName]="p">
                            <td class="top-pad">
                                <span [innerText]="getAttribute(row,'f')"></span>
                            </td>
                            <td class="top-pad">
                                <span [innerText]="getAttribute(row,'phone')"></span>
                            </td>
                            <td class="top-pad">
                                <input class="rest-input" type="number" (change)="updRestaurant(row)" placeholder="{{ dictionary.getTranslate('table_number', 'номер стола') }}" formControlName="tb" />
                            </td>
                            <td class="top-pad">
                                <input class="rest-input" type="number" (change)="updRestaurant(row)" placeholder="{{ dictionary.getTranslate('cheir_number', 'номер стула') }}" formControlName="ch" />
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput (dateChange)="updRestaurant(row)" [ngxMatDatetimePicker]="picker" placeholder="{{ dictionary.getTranslate('choose_date', 'Выберите дату') }}" formControlName="hdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false"
                                      [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                      [color]="color" [enableMeridian]="enableMeridian">
                                    </ngx-mat-datetime-picker>
                                  </mat-form-field>
                            </td>
                            <td (click)="reset(row)" class="top-pad" style="padding-top: 30px">
                                <i style="transform: scale(1.2); cursor: pointer; color: lightgray" class="fas fa-trash-restore"></i>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
              </table>
        </ng-container>
    </form>
</section>
