section {
    padding-left: 15px;
    .firm {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        input {
            width: 140px;
            text-align: center;
        }
        button {
            margin-left: 5px;
        }
    }
    .restaurant-form {
            .rest-input {
                margin-left: 15px;
                max-width: 120px;
                min-width: 40px;
            }
    }
}
.tbl {
    border-bottom: 1px lightgray dotted;
}
.top-pad {
    padding-top: 23px;
}