<!-- <nav class="header navbar navbar-dark">
    <a class="navbar-brand ml-3" routerLinkActive="active" routerLink="/">Управление <span style="color: red" *ngIf="(isAuthenticated | async)">{{(userData | async).cust_ID}}.</span>головинский.рф</a>
    <div class="mr-auto"></div>
    <div class="navbar-expand">
      <div class="navbar-nav" *ngIf="(isAuthenticated | async)">
        <div class="superAdmin" *ngIf="(isNotSuperAdmin | async)" (click)="superLogin()">
          <i class="fa fa-sign-in adm-icon" ></i>
        </div>
        <div *ngIf="(authService.isSuperAdmin() | async)" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Управление
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a routerLink="/localization" class="dropdown-item">Локализация</a></li>
            <li><a (click)="authService.logoutSA()" class="dropdown-item">[Выйти]</a></li>
          </ul>
        </div>
        <span routerLink="/" class="link nav-item nav-link main">Главная</span>
        <span class="nav-item nav-link">{{(userData | async).txt}}, {{(userData | async).role}}!</span>
        <a class="link nav-item nav-link" (click)="authService.logout()">Выход</a>
      </div>
    </div>
</nav>
<div class="progress">
  <mat-progress-bar [hidden]="progress.status | async" mode="indeterminate"></mat-progress-bar>
</div> -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link">
        <!-- <div class="brand-text font-weight-light">Управление</div> -->
        <div>
            <span style="color: red" *ngIf="isAuthenticated | async">{{ (userData | async).cust_ID }}.</span>{{ host }}
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div *ngIf="isAuthenticated | async" class="info">
                <a class="d-block">{{ (userData | async).txt }} {{ (userData | async).role }}!</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Поиск" aria-label="Поиск">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngFor="let route of pages.routes">
                    <a
                        class="nav-link"
                        *ngIf="!route.external"
                        routerLinkActive="selectedItem"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="closeMenu()"
                        [routerLink]="route.route"
                    >
                        <i class="nav-icon far" [ngClass]="route.icon"></i>
                        <p style="font-size: 12px">
                            {{ route.title() }}
                            <!-- <span class="badge badge-info right">2</span> -->
                        </p>
                    </a>
                    <a *ngIf="route.external" class="nav-link" target="_blank" [href]="route.externalLink()">
                      <i class="nav-icon far" [ngClass]="route.icon"></i>
                      <p style="font-size: 12px">
                          {{ route.title() }}
                          <!-- <span class="badge badge-info right">2</span> -->
                      </p>
                        </a
                    >
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
