.selectedItem{
    color: red !important;
}
.brand-link{
    cursor: default !important;
}
// .header{
//     background-color: #002137;
//     // width: 100%;
//     // position: absolute;
//     // z-index: 99999;
//     // height: 50px;
//     @media screen and (max-width: 600px) {
//         height: 50px;
//     }
//     .navbar-brand{
//         @media screen and (max-width: 600px) {
//             display: none;
//         }
//     }
// }
// .link{
//     color: white !important;
//     cursor: pointer;
// }
// .link:hover{
//     color: rgb(27, 177, 27) !important;
// }

// .dropdown-item{
//     cursor: pointer;
// }

// .superAdmin{
//     display: flex;
//     align-items: center;
//     margin-right: 10px;
// }
// .adm-icon{
//     color: white; 
//     transform: scale(1.4);
//     cursor: pointer;
//     &:hover{
//         color: yellow;
//         transform: scale(1.7);
//     }
// }


// @media screen and (max-width: 600px) {
//     .navbar-nav{
//         display: flex;
//         align-items: center;
//         .nav-link{
//             padding: 0px 1rem;
//         }
//     }
//     .navbar-expand{
//         margin-top: -7px;
//      //   margin-right: auto;
//     }
// }
// .progress{
//     height: 3px;
// }