
<section *ngIf="dataLoaded" #tbl>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="!editMode" (click)="edit(null)">{{dictionary.getTranslate('edit','Редактировать')}}</button>
    <ng-container *ngIf="editMode">
        <button type="button" class="btn btn-success btn-sm" (click)="edit(null)">{{dictionary.getTranslate('finish_edit','Завершить редактирование')}}</button>
        <button type="button" class="btn btn-success btn-sm  ml-1" (click)="add()">{{dictionary.getTranslate('new_lang','Новый язык')}}</button>
        <button *ngIf="addFuncional" type="button" class="btn btn-primary btn-sm ml-1" (click)="addAlias()">{{dictionary.getTranslate('new_alias','новый аляс')}}</button>
        
        <div class="input-group mt-2 mb-2 col-md-24" style="max-width: 450px;" [formGroup]="searchForm">
            <input type="text" formControlName="text" placeholder="поиск по слову" class="form-control" aria-label="поиск по слову" aria-describedby="basic-addon2">
            <div (click)="clearSearchText()" class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class='fa fa-trash edit-icon' aria-hidden='true'></i></span>
            </div>
          </div>

    </ng-container>
    <div [formGroup]="langForm" class="mt-1">
        <ng-container formArrayName="languages">
            <ng-container *ngFor="let row of language.controls; index as p" style="display: flex;">
                <span [formGroupName]="p">
                    <span *ngFor="let attribute of getLangAttr(row)">
                        [{{attribute}}: <input type="checkbox" [formControlName]="attribute" [ngClass]="{'mr-2': editMode}" />
                        <span class="edit-button" *ngIf="editMode && attribute !== 'RU'" (click)="delete(attribute)"><i class='fa fa-trash edit-icon' aria-hidden='true'></i> </span>
                         <span (click)="showHideAddFunc()">]</span>
                    </span>
                </span>
            </ng-container>
        </ng-container>
      </div>
    <form [formGroup]="localizationForm">
        <ng-container formArrayName="table">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <!-- <th><i class='fa fa-wrench' aria-hidden='true'></i></th> -->
                    <th scope="col" *ngFor="let attribute of getAttributes(table.controls[0])">
                        {{attribute}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let row of tableForm; index as p">
                        <tr [formGroupName]="p">
                            <!-- <td class="edit-button" (click)="edit(row)">
                                <i class='fa {{getIconByStatus(row)}} edit-icon' aria-hidden='true'></i>                         
                            </td> -->
                            <td *ngFor="let attribute of getAttributes(row,true)">
                                <i *ngIf="attribute === 'EN' && editMode && addFuncional" (click)="deleteAlias(row)" class='fa fa-trash edit-icon' aria-hidden='true'></i>
                                <input [ngClass]="{'ml-2': editMode && attribute === 'EN','justEditted': isEditted(row,attribute)}" (blur)="onUpdate(row,attribute)" [formControlName]="attribute" />
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
              </table>
        </ng-container>
    </form>
</section>
