section{
    padding: 25px 10px;
   // max-height: 90vh;
   // overflow-y: auto;
    table{
        width: auto;
    }
    .edit-icon{
        margin-top: 6px;
        transform: scale(1.2);
        cursor: pointer;
    }
    .save-btn{
     //   color: rgb(13, 170, 13);
    }
    .edit-btn{
        color: rgb(25, 8, 122);
    }
    .justEditted{
        border: 2px green solid;
        transition: border 1s linear;
    }
}