.content-header {
    z-index: 999;
    padding: 5px 0.2rem;
    .container-fluid{
        @media screen and (min-width: 600px) {
            margin-bottom: -30px !important;
        } 
    }
    .breadcrumb{
        background-color: lightgray;
        padding: 1px 10px;
        z-index: 9999999;
    }

    .active{
        display: flex;
        align-items: center;
        i{
            margin-left: 3px;
            cursor: pointer;
        }
    }
}
.titles{
    z-index: 999;
}