<section *ngIf="route && route.showBreadcrumbs" class="content-header">
  <div class="titles container-fluid">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/home">{{dictionary.getTranslate("main","Главная")}}</a></li>
          <li class="breadcrumb-item active"><div>{{route.title()}}</div><i *ngIf="route.showManual" (click)="route.manual()" class="fas fa-book"></i></li>

        </ol>
  </div>
</section>
