.catalog-control {
    min-height: 100vh;
    padding: 5px 0px 120px 10px;
    .phone-control {
        margin-top: 0px;
        max-width: 500px;
        .sort {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            height: 40px;
            margin-bottom: 15px;
            select{
            //    position: absolute;
                height: 25px;
            }
            // .fa-arrows-alt-v {
            //     cursor: pointer;
            //     position: relative;
            //     top: 2px;
            //     left: 0px;
            //     margin-top: 8px;
            //     margin-left: 5px;
            //     transform: scale(1.3);
            // }
        }
        .flex {
            display: flex;
            flex-direction: column;
        }
        .validation {
            padding-top: 10px;
        }
    }
    .list-group {
        max-width: 500px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                transform: scale(1.8);
                cursor: pointer;
            }
            span {
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .select-position {
        max-width: 350px !important;
        margin-top: 20px;
    }
}

.no_key {
    margin-top: 30;
    margin-left: 10px;
    color: red;
}

.select-dep-input {
    transform: scale(1.4);
}

.form-check-option {
    margin-bottom: 8px;
    margin-left: 10px;
}

.form-check-label {
    font-size: 18px;
}