<section *ngIf="parameter" class="catalog-control">
    <div [formGroup]="phoneForm" class="phone-control">
        <div class="sort">
            <select (change)="changePosition()" formControlName="position" required placeholder="d.ff" [ngClass]="{'form-select': !this.phoneForm.get('position').disabled}" class="form-control select-position mb-2" id="orientationId">
                <option *ngFor='let position of positions' [value]="position.value">{{position.name()}}</option>
            </select>
        </div>
        <div class="input-group mb-2">   
            <div class="flex">
                <input (focus)="resetValidation()" formControlName="phone" [matAutocomplete]="auto" type="text" class="form-control" placeholder="{{dictionary.getTranslate('phone_number','номер телефона')}}" aria-label="номер телефона" aria-describedby="button-addon2">

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let client of searchService.filteredClients | async" [value]="client.phone">
                      {{client.client}}
                    </mat-option>
                  </mat-autocomplete>
            </div>       
            <div class="input-group-append">
              <button *ngIf="!isDataLoaded" class="btn btn-outline-secondary" type="button" (click)="findData()" id="button-addon2">{{dictionary.getTranslate('apply','Применить')}}</button>
              <button *ngIf="isDataLoaded" class="btn btn-primary" type="button" (click)="reset()" id="button-addon2">{{dictionary.getTranslate('reset','Сброс')}}</button>
            </div>
        </div>
        <div class="input-group mb-2">   
        <button *ngIf="isDataLoaded && delAllButton" class="btn btn-outline-secondary" type="button" (click)="searchService.modalModifyClients()" id="button-addon2">{{dictionary.getTranslate('delClientsButton','Удаление клиентов')}}</button>
        <button *ngIf="isDataLoaded && delAllButton" class="btn btn-outline-primary" type="button" (click)="deleteAllSettings()" id="button-addon2">{{dictionary.getTranslate('delAllButton','Удалить настройки')}}</button>
        </div>
        <div class="validation">
            <div style="height: 40px;" *ngIf="submitted && f.phone.errors">
                <span class="alert alert-warning" *ngIf="f.phone.errors.required">{{dictionary.getTranslate('input_phone','Введите телефон')}}</span>
                <span class="alert alert-warning" *ngIf="f.phone.errors.pattern">{{dictionary.getTranslate('input_phone_cifr','Введите телефон в цифровом формате')}}</span>
                <span class="alert alert-warning" *ngIf="!f.phone.errors.pattern && !f.phone.errors.required && f.phone.errors.emptySpaces">{{dictionary.getTranslate('input_phone_correctly','Введите корректно телефон')}}</span>
             </div>
        </div>

        <!-- learn page -->
        <div *ngIf="this.parameter == 4 && isDataLoaded" class="form-group form-check">
            <div class="form-check-option">
                <input class="form-check-input select-dep-input" [value]="learnCatalogTypes.DEPARTMENT" type="radio" formControlName="catalogType" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  {{dictionary.getTranslate("learn-department-adv", "Учить раздел с объявлениями")}}
                </label>
              </div>
              <div class="form-check-option">
                <input class="form-check-input select-dep-input" [value]="learnCatalogTypes.SINGLE" type="radio" formControlName="catalogType" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  {{dictionary.getTranslate("learn-single-adv", "Учить одно объявление")}}
                </label>
              </div>

              <div class="form-check-option">
                <input class="form-check-input select-dep-input" [value]="learnCatalogTypes.DAILY" type="radio" formControlName="catalogType" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  {{dictionary.getTranslate("learn-single-daily-adv", "Учить одно объявление ежедневно")}}
                </label>
              </div>
        </div>

    </div>
    <desktop-categories
    [contextMenuMode]="isDataLoaded"
    (contextMenuEvents)="contextMenuEvents($event)"
    (lastChildAction)="onCategoriesClick($event)"
    [initialCategories]="initialCategories.slice(0, -1)"
    [selectionMode]="isDataLoaded"
    *ngIf="showCatalog"
    [selectionTypeMode]="selectionTypeMode"
    [categories]="(categoriesService.mainCategories$) | async"
    (click)="click($event)"
  ></desktop-categories>
    <!-- <form class="mb-4" [formGroup]="categoriesForm">
        <ul *ngIf="showCats" class="list-group">
            <li class="list-group-item active">Список категорий</li>
            <li formArrayName="categories" *ngFor="let cat of categories.controls; let i = index" class="list-group-item">
                <ng-container [formGroupName]="i">
                    <span>
                        {{item(categories.controls[i])}}
                    </span>
                    <input *ngIf="isDataLoaded" class="checkbox" formControlName="checked" (click)="showHideItem(i)" type="checkbox">
                </ng-container>
            </li>
          </ul>
    </form> -->
</section>
<div class="no_key" *ngIf="!parameter">
    {{dictionary.getTranslate('no_parameter','не задан ключевой параметр для работы с каталогом')}}
</div>
