<audio-uploader 
    [fileInfos]="audi" 
    (isAudioUploaded)="$isAudioUploaded($event)"
    [isEditMode]="isEditMode"
    (deleteStack)="$audioDeleteStack($event)"
></audio-uploader>

<div class="form-buttons">
    <button [disabled]="!isLoaded" type="submit" class="btn btn-secondary btn-sm" (click)="save()">
      {{dictionary.getTranslate('save','Сохранить')}} <i class="fas fa-save"></i>
    </button>
    <button type="submit" class="btn btn-info btn-sm" (click)="close()">{{dictionary.getTranslate('cancel','Отмена')}}</button>
</div>
