.home{
    background-color: rgb(248, 245, 245);
    height: calc(100vh - 87px);
    overflow: auto !important;
    .adverts-list{
        display: flex;
        padding-left: 3px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
     //   height: auto;
        width: 90%;
        color: white;
        border: 3px #5b5b5b solid;
        .item{
            height: auto;
            padding: 5px 2px;
            width: 100%;
            color: black;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 600px) {
                padding: 0px;
                width: 100%;
                font-weight: bold;
                color: black;
                font-size: 17px;
            }
            border-bottom: 1px #5b5b5b solid;
            .delete{
                margin-right: 3px;
            }
        }
    }
    .pagination{
        text-align: center;
        border-radius: 50px;
        margin: 0 auto;
        ::ng-deep .ngx-pagination .current {
          background: #5b5b5b;
        }
    }

    .categories, .categories-mobile {
        display: none;
    }
    @media screen and (min-width: 500px) {
        .categories {
            display: block;
        }
    }
    @media screen and (max-width: 500px) {
        .categories-mobile {
            padding: 3px 5px;
            display: block;
        }
    }  
}