<section class="home">
   <div class="categories">
   <desktop-categories
   *ngIf="!refreshCat && categories.length == 0"
   (lastChildAction)="onCategoriesClick($event)"
   [initialCategories]="initialCategories.slice(0, -1)"
   [categories]="(categoriesService.mainCategories$) | async"
 ></desktop-categories>
  <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>
</div>
<div class="categories-mobile">
  <app-mobile-categories (lastChildAction)="categorySelect($event)"
                         [initialCategories]="initialCategories.slice(0, 1)"
                         [categories]="categoriesService.mainCategories$ | async"
  ></app-mobile-categories>
</div>
<section *ngIf="advertItems.length !==0 && progress.status | async" class="adverts-list">
  <div class="item" *ngFor="let advert of advertItems | paginate: paginateConfig; let i = index">
    <span class="name">{{advert.tName}}</span>
    <span class="delete"><i class="fa fa-trash-o" (click)="deleteItem(advert)" aria-hidden="true"></i></span>
  </div>
</section>

<div *ngIf="(paginateConfig.totalItems > paginateConfig.itemsPerPage) && progress.status | async" class="pagination">
    <pagination-controls
      previousLabel="Предыдущая"
      nextLabel="Следующая"
      class="pagination"
      (pageChange)="pageChange($event)"
      autoHide="true"
      maxSize="7"
    ></pagination-controls>
</div>


</section>
