<ng-container *ngIf="!selectedItem; else selected;">
    <button id="0" href="#" data-toggle="dropdown" [disabled]="!categories.length" aria-haspopup="true" aria-expanded="false" class="btn btn-info dropdown-toggle categories">{{dictionary.getTranslate('select_category','Выберите категорию')}}</button>
    

<!-- 
    <desktop-categories
    *ngIf="!refreshCat && categories.length == 0"
    (lastChildAction)="onCategoriesClick($event)"
    [initialCategories]="initialCategories.slice(0, -1)"
    [categories]="(categoriesService.mainCategories$) | async"
  ></desktop-categories> -->

 <div class="categories-mobile">
   <app-mobile-categories (lastChildAction)="select($event)"
                          [initialCategories]="initialCategories.slice(0, 1)"
                          [categories]="categoriesService.mainCategories$ | async"
   ></app-mobile-categories>
 </div>


<ng-container *ngTemplateOutlet="cat; context: { $implicit: categories }"></ng-container>

<ng-template #cat let-categs>
    <ng-container *ngIf="categs.length !== 0">
        <ul [attr.aria-valuenow]="categs[0].parent_id" class="dropdown-menu border-0 shadow">
            <ng-container *ngFor="let category of categs">
                <ng-container *ngIf="!category.listInnerCat.length; else submenu">
                    <li style="cursor: pointer;">
                        <a (click)="select([category])" class="dropdown-item"><span>{{category.txt}}</span></a>
                    </li>
                </ng-container>
                <ng-template #submenu>
                    <li class="dropdown-submenu dropdown-hover">
                        <a (click)="$event.stopPropagation()" [id]="category.listInnerCat[0].parent_id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">
                            <span>{{category.txt}}</span>
                        </a>
                        <ng-container *ngTemplateOutlet="cat; context: { $implicit: category.listInnerCat }"></ng-container>
                    </li>
                </ng-template>
                <!-- <li class="dropdown-divider"></li> -->
            </ng-container>
        </ul>
    </ng-container>
</ng-template>
</ng-container>

<ng-template #selected>
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="selectedItem.txt" disabled>
            <div (click)="reset()" class="input-group-append">
              <span class="input-group-text"><i class="fas fa-trash-alt"></i></span>
            </div>
          </div>
    </div>
</ng-template>


<!-- 
<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
    <li><a href="#" class="dropdown-item">Some action </a></li>
    <li><a href="#" class="dropdown-item">Some other action</a></li>

    <li class="dropdown-divider"></li>

            <li class="dropdown-submenu dropdown-hover">
            <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                <li>
                <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                </li>

                        <li class="dropdown-submenu">
                        <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                        <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                        </ul>
                        </li>


                <li><a href="#" class="dropdown-item">level 2</a></li>
                <li><a href="#" class="dropdown-item">level 2</a></li>
            </ul>
            </li>

</ul> -->
