i{
    cursor: pointer !important;
}
.dropdown-item{
    font-size: 13px;
}

.categories, .categories-mobile {
    display: none;
  }
  @media screen and (min-width: 701px) {
    .categories {
      display: block;
    }
  }
  @media screen and (max-width: 700px) {
    .categories-mobile {
      display: block;
    }
  }