.card-header{
    height: 40px;
    .card-title{
        font-size: 17px;
    }
}
.card-title{

    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
}
:deep(.dz-size,.dz-filename){
    display: none;
}

.rounded{
    border-radius: 5px;
}

.mob-view{
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
.desktop-view{
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

// .ng-touched.ng-invalid:not(form)  {
//     border: 2px solid red __<<ngThemingMigrationEscapedComment0>>__
// }