<section>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>

    <div id="map" class="map"></div>
    <div class="control-buttons">
        <div (click)="addPoint()" class="control-btn">
          {{ dictionary.getTranslate("add-point", "Добавить точку") }}
        </div>
        <div (click)="control()" class="control-btn">
            {{ dictionary.getTranslate("map-control", "Управление") }}
        </div>
      </div>
</section>
