<section class="categories">
  
  <div class="row">
    <form class="my-3 w-25 ml-3" style="display:flex; align-items: center;">
      <span>широта столбца:</span>     
    <mat-slider 
    (change)="changr($event)"
    [min]="160" max="340" step="5" [value]="width"></mat-slider>
    <span>{{width}}px</span> 
    </form>
  </div>

  <desktop-categories
    *ngIf="!refreshCat && categories.length == 0"
    (lastChildAction)="onCategoriesClick($event)"
    [initialCategories]="initialCategories.slice(0, -1)"
    [categories]="(categoriesService.mainCategories$) | async"
    [editMode]="true"
  ></desktop-categories>
  <app-breadcrumbs [categories]="categories" (click)="breadcrumbsClick($event)"></app-breadcrumbs>

  



</section>
