section{
    height: calc(100vh - 87px);
    padding-bottom: 100px;
    overflow: auto !important;
    width: 100%;
    .title{
      margin: 7px 15px 0px 15px;
      span{
        font-weight: bold;
        font-size: 18px;
      }
    }

   .containe{
  //  max-width: 1600px;
    width: auto;
    margin: 0 auto;
   // border: 1px red solid;
    overflow-x: scroll !important;
   }
}
// .categories, .categories-mobile {
//     display: none;
// }
// @media screen and (min-width: 500px) {
//     .categories {
//         display: block;
//         overflow-x: scroll; __<<ngThemingMigrationEscapedComment0>>__
//         overflow-y: scroll;
//         width: 100%;
//     }
// }
// @media screen and (max-width: 500px) {
//     .categories-mobile {
//         padding: 3px 5px;
//         display: block;
//     }
// } 