<div class="container py-3">
    <div>
        <div class="link-list">
            <div class="link" *ngFor="let route of (pages.routes)">  
            <a *ngIf="!route.external" class="menu-link"
                routerLinkActive="selectedItem"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="route.route">
                
                <i class="fa fa-bullseye" aria-hidden="true"></i> {{route.title()}}
            </a>
            <a *ngIf="route.external" target="_blank" [href]="route.externalLink()"> <i class="fa fa-bullseye" aria-hidden="true"></i> {{dictionary.getTranslate('mob_data','Данные мобильного приложения')}}</a>
            </div>
        </div>
    </div>
  </div>
