.link-list{
    display: flex;
    flex-direction: column;
    .link{
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
        i{
           // transform: scale(1.3);
        }
        a{
            font-size: 22px;
            margin-left: 4px;
            text-decoration: none;
        }
    }
    .fa-bullseye{
        color: black;
    }
}