.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.restaurant-form {
    margin-top: 20px;
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        div {
            font-weight: bold;
        }
        flex-direction: row !important;
        input {
            margin-left: 15px;
            width: 160px;
        }
    }
}
.catalog-control{
    padding: 25px 10px;
    min-height: 100vh;
    padding-bottom: 120px;
    .categoriesForm{
        height: auto !important;
    }

    .addit-func{
        button{
            margin-bottom: 5px;
        }
    }

    .phone-input{
        width: 152px;
    }

    .list-group{
        width: 500px;
        margin-top: 15px;
        .active {
            background-color: #4b545c;
            border-color: #4b545c;
            color: white;
        }
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                transform: scale(1.8);
                cursor: pointer;
            }
            span{
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
            }
            button {
                margin-left: 20px;
                i {
                    color: red;
                }
            }
        }
    }
    .select-position{
       // width: 550px;
        margin-top: 20px;
    }

    .personal-settings{
        display: flex;
        flex-direction: column;
        .form-group{
            margin-left: 7px;
            margin-right: 4px;
        }
    }
    .output-forms{
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        @media all and (max-width: 550px) {
            flex-direction: column;
        }
        justify-content: left;
    }
}

.checkbox-point {
    display: flex;
    align-items: center;
    .point {
        width: 5px;
        height: 5px;
        background-color: green;
        border-radius: 45px;
        margin-right: 9px;
    }
}
