<section class="catalog-control">
    <div class="inform">
        <span class="alert alert-primary inform">{{
            dictionary.getTranslate("func-control", "Управление пунктами меню")
        }}</span>
    </div>
    <button *ngIf="editMode" type="button" class="btn btn-primary btn-sm ml-1 mt-5" (click)="addAlias()">{{dictionary.getTranslate('new_alias','новый аляс')}}</button>
    <button type="button" class="btn btn-secondary btn-sm ml-1 mt-5" (click)="editMode = !editMode"><i class="fa fa-cog"></i></button>

    <!-- <button
        class="btn btn-outline-secondary mt-5"
        type="button"
        id="button-addon2"
    >
        {{ dictionary.getTranslate("add-param", "Добавить параметр") }}
    </button> -->
    <div class="output-forms">
        <!-- <form class="categoriesForm" [formGroup]="controlForm">
            <ul *ngIf="items.length" class="list-group">
                
                <li class="list-group-item active">{{ dictionary.getTranslate("cat_list", "Список категорий") }}</li>
                <li
                    formArrayName="categories"
                    *ngFor="let cat of categories.controls; let i = index"
                    class="list-group-item"
                >
                    <ng-container [formGroupName]="i">
                        <span>
                            {{ item(categories.controls[i]) }}
                        </span>
                        <div class="checkbox-point">
                            <input
                                class="checkbox"
                                formControlName="isShow"
                                (click)="showHideItem(i)"
                                type="checkbox"
                                [id]="i"
                            />
                            <label [for]="i"></label>
                            <button *ngIf="editMode" (click)="deleteItem(i)"><i class='fa fa-trash edit-icon' aria-hidden='true'></i></button>
                        </div>
                    </ng-container>
                </li>
            </ul>
        </form> -->


                <form class="categoriesForm" [formGroup]="permissionForm">

                    <ng-container formArrayName="departments">


                        <ul class="list-group" *ngFor="let attr of departments.controls; let index = index">
                          <ng-container [formGroupName]="index">
                            <li class="list-group-item active">{{ attr.get('name').value }}</li>
                            <li
                                formArrayName="items"
                                *ngFor="let item of attr.get('items').controls; let i = index"
                                class="list-group-item"
                            >
                                <ng-container [formGroupName]="i">
                                    <span>
                                        {{getItemName(item)}}
                                    </span>
                                    <div class="checkbox-point">
                                        <input
                                            class="checkbox"
                                            formControlName="isShow"
                                            (click)="enableDisableItem(item)"
                                            type="checkbox"
                                            [id]="i"
                                        />
                                        <label [for]="i"></label>
                                        <button *ngIf="editMode" (click)="deleteItem(item)"><i class='fa fa-trash edit-icon' aria-hidden='true'></i></button>
                                    </div>
                                </ng-container>
                            </li>
                        </ng-container>
                        </ul>

                    </ng-container>
        </form>

    </div>
</section>
