<div *ngIf="!showInputForm" class="menu">
 <div style="margin-top: 25px;"></div>
<a routerLink="new">{{dictionary.getTranslate('add_advert','Добавить обьявление')}}</a>
<a (click)="edit()">{{dictionary.getTranslate('edit_adv','Редактирование обьявления')}}</a>
</div>

<div class="form_ad" style="margin-top: 35px;" *ngIf="showInputForm">
    <div>Введите prcId обьявления: </div>
    <input [(ngModel)]="prcId" type="text" placeholder="prc_Id">
    <button [routerLink]="['/commodity/edit']" [queryParams]="{id: prcId}" >ok</button>
</div>
