
<!-- 
<div class="content">
  <span *ngIf="showLoader" class="loading"></span>
  <div class="content__menu">
    <app-navigation></app-navigation>
  </div>
  <div class="content__navigation">
    <app-header></app-header>
    <app-titles></app-titles>
      <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div> -->

<div class="content">
  <span *ngIf="showLoader" class="loading"></span>
  <div *ngIf="(isAuthenticated | async) else login" class="wrapper">
    <app-navbar ></app-navbar>
    <app-header></app-header>
    <div class="content-wrapper">
      <app-titles></app-titles>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  
  <ng-template #login>
    <router-outlet></router-outlet>
  </ng-template>

</div>



