<form [formGroup]="loginForm">
    <div class="form-group">
        <h2>{{dictionary.getTranslate('auth_admin','Авторизация суперадмин')}}</h2>
        <div class="response">
            <span *ngIf="response.length" class="body_response">{{response}}</span>
        </div>
        <input type="text" class="form-control" formControlName="userName" id="email" autocomplete="off" aria-describedby="titleHelp" placeholder="{{dictionary.getTranslate('login','логин')}}">
        <div class="text-muted">
            <ng-container *ngIf="submitted && f.userName.errors">
                <small id="titleHelp" class="form-text">
                    <span class="error-text" *ngIf="f.userName.errors.required">{{dictionary.getTranslate('insert_login','введите логин')}}</span>
                    <span class="error-text" *ngIf="!f.userName.errors.required && f.userName.errors.emptySpaces">
                        {{dictionary.getTranslate('input_login_correctly','Введите корректно логин')}}</span>
                </small>
            </ng-container>            
        </div>

    <input type="name" class="form-control" formControlName="password" id="password" autocomplete="off" aria-describedby="titleHelp" placeholder="{{dictionary.getTranslate('password','пароль')}}">
    <div class="text-muted">
        <ng-container *ngIf="submitted && f.password.errors">
            <small id="titleHelp" class="form-text">
                <span class="error-text" *ngIf="f.password.errors.required">{{dictionary.getTranslate('insert_password','введите пароль')}}</span>
                <span class="error-text" *ngIf="!f.password.errors.required && f.password.errors.emptySpaces">
                    {{dictionary.getTranslate('input_password_correctly','Введите корректно пароль')}}</span>
            </small>
        </ng-container>    
    </div>
    <div class="col-8">
        <div class="icheck-primary">
          <input [(ngModel)]="rememberMe" (change)="deleteCreds()" [ngModelOptions]="{standalone: true}" type="checkbox" class="mr-1" id="remember">
          <label class="h7" for="remember">
            {{dictionary.getTranslate('remember_me','Запомнить меня')}}
          </label>
        </div>
      </div>
    </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-secondary btn-sm" (click)="login()">
                {{dictionary.getTranslate('login','Войти')}}
            </button>
            <button type="submit" class="btn btn-info btn-sm" (click)="onNoClick()">{{dictionary.getTranslate('cancel','Отмена')}}</button>
        </div>
  </form>

