.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.restaurant-form {
    margin-top: 20px;
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        div {
            font-weight: bold;
        }
        flex-direction: row !important;
        input {
            margin-left: 15px;
            width: 160px;
        }
    }
}
.catalog-control{
    padding: 25px 10px;
    min-height: 100vh;
    padding-bottom: 120px;
    .categoriesForm{
        height: auto !important;
    }

    .addit-func{
        button{
            margin-bottom: 5px;
        }
    }

    .phone-input{
        width: 152px;
    }

    .phone-control{
        @media all and (min-width: 550px) {
            margin-left: 20px;
        }
        margin-top: -20px;
        max-width: 400px;
        .flex{
            display: flex;
            flex-direction: column;
        }
        .validation{
            padding-top: 10px
        }
        // display: flex;
        // flex-direction: row;
        // input{
        //     height: 30px;
        //     margin-right: 10px;
        //     border-radius: 5px;
        //     text-align: center;
        //     border-color: darkmagenta;    
        //     margin-bottom: 15px;    
        // }
    }
    .list-group{
        max-width: 500px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                transform: scale(1.8);
                cursor: pointer;
            }
            span{
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .select-position{
        max-width: 350px !important;
        margin-top: 20px;
    }

    .personal-settings{
        display: flex;
        flex-direction: column;
        .form-group{
            margin-left: 7px;
            margin-right: 4px;
        }
    }
    .output-forms{
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        @media all and (max-width: 550px) {
            flex-direction: column;
        }
        justify-content: left;
    }
}

.checkbox-point {
    display: flex;
    align-items: center;
    .point {
        width: 5px;
        height: 5px;
        background-color: green;
        border-radius: 45px;
        margin-right: 9px;
    }
}