<section class="catalog-control">
    <div class="inform">
        <span class="alert alert-primary inform">{{
            dictionary.getTranslate("insert_phone_client", "Введите номер телефона клиента, для выгрузки каталога")
        }}</span>
    </div>
    <div class="output-forms">
        <div [formGroup]="phoneForm" class="phone-control">
            <select
                (change)="changePosition()"
                formControlName="position"
                required
                placeholder="d.ff"
                [ngClass]="{ 'form-select': !this.phoneForm.get('position').disabled }"
                class="form-control select-position mb-2"
                id="orientationId"
            >
                <option *ngFor="let position of positions" [value]="position.value">{{ position.name() }}</option>
            </select>
            <div class="input-group mb-2">
                <div class="flex">
                    <input
                        (focus)="resetValidation()"
                        formControlName="phone"
                        type="text"
                        class="form-control phone-input"
                        placeholder="{{ dictionary.getTranslate('phone_number', 'номер телефона') }}"
                        aria-label="номер телефона"
                        aria-describedby="button-addon2"
                        [matAutocomplete]="auto"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let client of this.searchService.filteredClients | async" [value]="client.phone">
                          {{client.client}}
                        </mat-option>
                      </mat-autocomplete>
                </div>
                <div class="input-group-append">
                    <button
                        *ngIf="!isDataLoaded"
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="findData()"
                        id="button-addon2"
                    >
                        {{ dictionary.getTranslate("enter", "Войти") }}
                    </button>
                    <button
                        *ngIf="isDataLoaded"
                        class="btn btn-primary"
                        type="button"
                        (click)="reset()"
                        id="button-addon2"
                    >
                        {{ dictionary.getTranslate("reset", "Сброс") }}
                    </button>
                </div>
            </div>
            <div class="validation">
                <div style="height: 40px" *ngIf="submitted && f.phone.errors">
                    <span class="alert alert-warning" *ngIf="f.phone.errors.required">{{
                        dictionary.getTranslate("input_phone", "Введите телефон")
                    }}</span>
                    <span class="alert alert-warning" *ngIf="f.phone.errors.pattern">{{
                        dictionary.getTranslate("input_phone_cifr", "Введите телефон в цифровом формате")
                    }}</span>
                    <span
                        class="alert alert-warning"
                        *ngIf="!f.phone.errors.pattern && !f.phone.errors.required && f.phone.errors.emptySpaces"
                        >{{ dictionary.getTranslate("input_phone_correctly", "Введите корректно телефон") }}</span
                    >
                </div>
            </div>
            <div class="personal-settings">
                <div *ngIf="isDataLoaded" class="addit-func input-group">
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="deleteAllSettings()"
                        id="button-addon2"
                    >
                        {{ dictionary.getTranslate("delete-settings", "Удалить настройки") }}
                    </button>

                        <button class="btn btn-outline-secondary" type="button" (click)="searchService.modalModifyClients()" id="button-addon2">{{dictionary.getTranslate('delClientsButton','Удаление клиентов')}}</button>
                    <button
                        *ngIf="getPosition() === '3'"
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="deleteAllRepeats()"
                        id="button-addon2"
                    >
                        {{ dictionary.getTranslate("remove_all_repeats_client", "Удалить все повторения у клиента") }}
                    </button>
                </div>
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        formControlName="isComShop"
                        (click)="updPersSettings()"
                        id="isComShop"
                        class="form-check-input"
                    />
                    <label for="isComShop" class="form-check-label">{{
                        dictionary.getTranslate("special", "Особенные")
                    }}</label>
                </div>
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        formControlName="isSendRepeat"
                        (click)="updPersSettings()"
                        id="isSendRepeat"
                        class="form-check-input"
                    />
                    <label for="isSendRepeat" class="form-check-label">{{
                        dictionary.getTranslate("acception_repeat", "Разрешение на заказ повторений")
                    }}</label>
                </div>
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        formControlName="isRussianDoll"
                        (click)="updPersSettings()"
                        id="isRussianDoll"
                        class="form-check-input"
                    />
                    <label for="isRussianDoll" class="form-check-label">{{
                        dictionary.getTranslate("show-doll-btn", "Разрешение на матрешку")
                    }}</label>
                </div>
                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        formControlName="isHomePageShow"
                        (click)="updPersSettings()"
                        id="isHomePageShow"
                        class="form-check-input"
                    />
                    <label for="isHomePageShow" class="form-check-label">{{
                        dictionary.getTranslate("show-main-page", "Показать главную страницу")
                    }}</label>
                </div>
                <div [attr.hidden]="true" class="form-group form-check">
                    <input
                        type="checkbox"
                        formControlName="isEditing"
                        (click)="updPersSettings()"
                        id="isEditing"
                        class="form-check-input"
                    />
                    <label for="isEditing" class="form-check-label">{{
                        dictionary.getTranslate("editting", "Редактирование")
                    }}</label>
                </div>

                <div *ngIf="getPosition() === '5' && isDataLoaded" class="clients">
                    <div class="form restaurant-form" [formGroup]="restaurantForm">
                        <div class="form-group">
                            <span for="tb">{{ dictionary.getTranslate("table", "Стол") }}:</span>
                            <input
                                type="number"
                                formControlName="tb"
                                (change)="updRestaurant()"
                                placeholder="{{ dictionary.getTranslate('table_number', 'номер стола') }}"
                                class="form-control"
                                id="tb"
                                [ngClass]="{ 'is-invalid': submitted && rf.tb.errors }"
                            />
                        </div>
                        <div class="form-group mb-2">
                            <span for="ch">{{ dictionary.getTranslate("cheir", "Стул") }}:</span>
                            <input
                                type="number"
                                formControlName="ch"
                                (change)="updRestaurant()"
                                placeholder="{{ dictionary.getTranslate('cheir_number', 'номер стула') }}"
                                class="form-control"
                                id="ch"
                                [ngClass]="{ 'is-invalid': submitted && rf.ch.errors }"
                            />
                        </div>
                        
                        <mat-form-field>
                            <input matInput (dateChange)="updRestaurant()" [ngxMatDatetimePicker]="picker" placeholder="{{ dictionary.getTranslate('choose_date', 'Выберите дату') }}" formControlName="hdate"
                              >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false"
                              [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                              [color]="color" [enableMeridian]="enableMeridian">
                            </ngx-mat-datetime-picker>
                          </mat-form-field>
                          <div class="form-group mb-2">
                            <button type="button" class="btn btn-danger btn-sm" (click)="resetRestaurant()">{{ dictionary.getTranslate('reset_rest_settings', 'сброс данных ресторана') }}</button>
                          </div>

                    </div>
                </div>
            </div>
        </div>
        <form class="categoriesForm" [formGroup]="categoriesForm">
            <ul *ngIf="showCats" class="list-group">
                <li class="list-group-item active">{{ dictionary.getTranslate("cat_list", "Список категорий") }}</li>
                <li
                    formArrayName="categories"
                    *ngFor="let cat of categories.controls; let i = index"
                    class="list-group-item"
                >
                    <ng-container [formGroupName]="i">
                        <span>
                            {{ item(categories.controls[i]) }}
                        </span>
                        <!-- <mat-checkbox *ngIf="isDataLoaded" (click)="showHideItem(i)" formControlName="checked">Pepperoni</mat-checkbox> -->
                        <div *ngIf="isDataLoaded" class="checkbox-point">
                            <!-- <div *ngIf="hist(categories.controls[i])" class="point"></div> -->
                            <span *ngIf="!hist(categories.controls[i])" class="checkbox-clr">
                                <input
                                class="checkbox"
                                formControlName="checked"
                                (click)="showHideItem(i)"
                                type="checkbox"
                                [id]="i"> <label [for]="i"></label> 
                            </span> 
                            
                            <span *ngIf="hist(categories.controls[i])" class="checkbox-red">
                                <input
                                class="checkbox"
                                formControlName="checked"
                                (click)="showHideItem(i)"
                                type="checkbox"
                                [id]="i"> <label [for]="i"></label> 
                            </span> 
                        </div>

                    </ng-container>
                    <!-- <input type="text" formControlName="i.category">-->
                </li>
            </ul>
        </form>
    </div>
</section>
