  <body class="hold-transition login-page">
    <div class="login-box">

      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <span class="h5">{{dictionary.getTranslate('control_panel','Панель управления')}}</span>
        </div>
        <div class="card-body">
          <p class="login-box-msg">{{dictionary.getTranslate('auth','Авторизация')}}</p>
    
          <form [formGroup]="form">
            <div class="error"> 
              <ng-container *ngIf="submitted && f.userName.errors">
              <div *ngIf="f.userName.errors.required">{{dictionary.getTranslate('insert_login','введите логин')}}</div>
              <div *ngIf="!f.userName.errors.required && f.userName.errors.emptySpaces">{{dictionary.getTranslate('input_login_correctly','Введите корректно логин')}}</div>
              </ng-container>

            </div>
            <div class="input-group mb-3">
              <input type="email" formControlName="userName" class="form-control" placeholder="{{dictionary.getTranslate('login','логин')}}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="error"> 
              <ng-container *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">{{dictionary.getTranslate('insert_password','введите пароль')}}</div>
              </ng-container>
              
            </div>
            <div class="input-group mb-3">
              <input type="password" formControlName="password" class="form-control" placeholder="{{dictionary.getTranslate('password','пароль')}}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <change-language></change-language>
            <div class="row mt-2">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" class="mr-1" id="remember">
                  <label class="h7" for="remember">
                    {{dictionary.getTranslate('remember_me','Запомнить меня')}}
                  </label>
                </div>
              </div>

              <div class="col-4">
                <button type="submit" (click)="submit()" class="btn btn-primary btn-block">{{dictionary.getTranslate('login','Войти')}}</button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>

    
    </body>
