<div *ngIf="isLoaded">
    <ng-container *ngIf="data; else advNotFound" >
        <base-commodity 
            *ngIf="data" 
            [data]="data" 
        ></base-commodity>
    </ng-container>
    <ng-template #advNotFound>
        <div class="alert alert-danger alert-dismissible">
            <h5><i class="icon fas fa-ban"></i> 404</h5>
            {{dictionary.getTranslate('adv_not_found','Обьявление не найдено')}}
          </div>
    </ng-template>
</div>



