<h2 mat-dialog-title>{{ dictionary.getTranslate("select-point-map", "Выбор точки на карте") }}</h2>
<mat-dialog-content class="mat-typography">
    <div class="container-map">
        <div id="map2" class="map"></div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" (click)="save()" mat-button class="btn btn-secondary"> {{ dictionary.getTranslate("save", "Сохранить") }}</button>
    <button type="button" mat-button mat-dialog-close class="btn btn-danger">{{ dictionary.getTranslate("close", "Закрыть") }}</button>
</mat-dialog-actions>
