<div class="breadcrumbs_list" >
    <div class="breadcrumbs_list__item" *ngFor="let item of _categories; index as i" (click)="breadcrumbsClick(_categories,i)">
      {{item.txt}}
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
