.breadcrumbs_list {
    flex-wrap: wrap;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding-left: 9px;
    &__item {
      padding: 5px 4px;
      font-size: 14px;
      font-weight: bold;
      background-color: #5b5b5b;
      opacity: 0.8;
      color: white;
      cursor: pointer;
      i{
        padding-left: 4px;
      }
    }
    :last-child {
      i {
        visibility: hidden;
      }
    }
  }
  