
.form-group{
    // min-width: 300px;
    // max-width: 600px;
    // width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.chkbox{
  margin-bottom: 15px; 
  width: 20px; 
  min-width: none; 
  min-height: none; 
  margin-right: auto;
}


// label{
//     color: #777;
//     font-weight: 500;
//   }
  
//   h1{
//     text-align: center;
//   }
  
//   ::ng-deep .mat-button:hover{
//     background-color: #cbcaca;
//   }
  
//   .addNewProperties{
//     outline: none;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//   }
  
//   /*::ng-deep.mat-icon{*/
//   /*  background: #8bb0d0;*/
//   /*  border-radius: 21px;*/
//   /*}*/
  
//   .form{
//     margin: 0 auto;
//     width: 100%;
//     input{
//     min-width: 300px;
//     max-width: 600px;
//     width: 100%;
//     &:last-child(-1){
//       width: 30px;
//       min-width: none;
//       min-height: none;
//     }
//     }
//     select{
//       margin-left: 20px;
//       width: 50px;
//     }
//   }

//   .isShowGDate{
//     transform: scale(1.5);
//   }
  
//   .error{
//     color: red;
//     height: 10px;
//   }
  
//   .buttons{
//     display: flex;
//     align-content: center;
//     justify-content: center;
//   }
  
//   .upload-image {
//     padding-bottom: 15px;
  
//     .select-image {
//       cursor: pointer;
//       background-color: white;
//       opacity: 0.5;
//       border-radius: 15px;
//       padding: 5px 9px;
//       width: 200px;
  
//       &:hover {
//         background-color: #ebe8e8;
//         opacity: 1;
//       }
  
//       span {
//         font-weight: bold;
//         margin-right: 5px;
//       }
//     }
//   }
  
  
//   .img {
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//   }
  