<section *ngIf="dataLoaded" class="users">
    <div class="clients container py-1">

              <div class="form" [formGroup]="settingsForm">    
                
                <div class="form-row">
                  <div class="form-group  col-md-6">
                    <label for="fName">{{dictionary.getTranslate('shop_name','Название магазина')}}</label>
                    <input type="text" formControlName="fName" placeholder="{{dictionary.getTranslate('shop_name','Название магазина')}}" class="form-control" id="fName" [ngClass]="{ 'is-invalid': submitted && f.fName.errors }" />
                    <div class="error">
                      <div *ngIf="submitted && f.fName.errors">
                          <div *ngIf="f.fName.errors.required">Введите название магазина</div>
                          <div *ngIf="!f.fName.errors.required && f.fName.errors.emptySpaces">Введите корректно название магазина</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group  col-md-6">
                      <label for="repres">{{dictionary.getTranslate('p_name','Контактное лицо')}}</label>
                      <input type="text" formControlName="repres" placeholder="{{dictionary.getTranslate('p_name','Контактное лицо')}}" class="form-control" id="repres" [ngClass]="{ 'is-invalid': submitted && f.repres.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.repres.errors">
                             <div *ngIf="f.repres.errors.required">Введите контактное лицо</div>
                             <div *ngIf="!f.repres.errors.required && f.repres.errors.emptySpaces">Введите контактное лицо</div>
                          </div>
                      </div>
                    </div>
        
                </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="phone">{{dictionary.getTranslate('phone','Телефон')}}</label>
                      <input type="text" formControlName="phone" placeholder="{{dictionary.getTranslate('phone','Телефон')}}" class="form-control" id="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.phone.errors">
                            <div *ngIf="f.phone.errors.required">Введите телефон</div>
                            <div *ngIf="!f.phone.errors.required && f.phone.errors.emptySpaces">Введите корректно телефон</div>
                            <div *ngIf="f.phone.errors.pattern">В телефонном номере допустимы только цифры</div>
                          </div>
                      </div>
                    </div>

                    <div class="form-group  col-md-6">
                      <label for="mobileOpt">{{dictionary.getTranslate('m_phone','Мобильный телефон')}}</label>
                      <input type="text" formControlName="mobileOpt" placeholder="{{dictionary.getTranslate('m_phone','Мобильный телефон')}}" class="form-control" id="mobileOpt" [ngClass]="{ 'is-invalid': submitted && f.mobileOpt.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.mobileOpt.errors">
                             <div *ngIf="f.mobileOpt.errors.required">Введите телефон</div>
                             <div *ngIf="!f.mobileOpt.errors.required && f.mobileOpt.errors.emptySpaces">Введите корректно телефон</div>
                             <div *ngIf="f.mobileOpt.errors.pattern">В телефонном номере допустимы только цифры</div>
                          </div>
                      </div>
                    </div>
                    
                  </div>
<!-- 
                  <div class="form-group">
                    <label for="phone">{{dictionary.getTranslate('phone','Телефон')}}</label>
                    <input type="text" formControlName="phone" placeholder="{{dictionary.getTranslate('phone','Телефон')}}" class="form-control" id="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <div class="error">
                        <div *ngIf="submitted && f.phone.errors">
                          <div *ngIf="f.phone.errors.required">Введите телефон</div>
                          <div *ngIf="!f.phone.errors.required && f.phone.errors.emptySpaces">Введите корректно телефон</div>
                          <div *ngIf="f.phone.errors.pattern">В телефонном номере допустимы только цифры</div>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="eMail">E-mail</label>
                    <input type="text" formControlName="eMail" placeholder="E-mail" class="form-control" id="eMail" [ngClass]="{ 'is-invalid': submitted && f.eMail.errors }" />
                    <div class="error">
                        <div *ngIf="submitted && f.eMail.errors">
                           <div *ngIf="f.eMail.errors.required">Введите e-mail</div>
                           <div *ngIf="!f.eMail.errors.required && f.eMail.errors.emptySpaces">Введите корректно e-mail</div>
                        </div>
                    </div>
                  </div> -->

                  <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="eMail">E-mail</label>
                      <input type="text" formControlName="eMail" placeholder="E-mail" class="form-control" id="eMail" [ngClass]="{ 'is-invalid': submitted && f.eMail.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.eMail.errors">
                             <div *ngIf="f.eMail.errors.required">Введите e-mail</div>
                             <div *ngIf="!f.eMail.errors.required && f.eMail.errors.emptySpaces">Введите корректно e-mail</div>
                          </div>
                      </div>
                    </div>

                    <div class="form-group  col-md-6">
                      <label for="returnURL">{{dictionary.getTranslate('site','Веб-сайт')}}</label>
                      <input type="text" formControlName="returnURL" placeholder="{{dictionary.getTranslate('site','Веб-сайт')}}" class="form-control" id="returnURL" [ngClass]="{ 'is-invalid': submitted && f.returnURL.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.returnURL.errors">
                             <div *ngIf="f.returnURL.errors.required">Введите веб-сайт</div>
                             <div *ngIf="!f.returnURL.errors.required && f.returnURL.errors.emptySpaces">Введите корректно веб-сайт</div>
                             <div *ngIf="f.returnURL.errors.incorrectUrl">Некорректно указана ссылка на сайт</div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group  col-md-6">
                      <label for="geoAddress">{{dictionary.getTranslate('address','Адрес')}}</label>
                      <input type="text" formControlName="geoAddress" placeholder="{{dictionary.getTranslate('address','Адрес')}}" class="form-control" id="geoAddress" [ngClass]="{ 'is-invalid': submitted && f.geoAddress.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.geoAddress.errors">
                             <div *ngIf="f.geoAddress.errors.required">Введите адрес</div>
                             <div *ngIf="!f.geoAddress.errors.required && f.geoAddress.errors.emptySpaces">Введите корректно адрес</div>
                          </div>
                      </div>
                    </div> 
                    
                    <div class="form-group col-md-6">
                      <label for="wordEnter">{{dictionary.getTranslate('vid_v','Вид Деятельности')}}</label>
                      <input type="text" formControlName="wordEnter" placeholder="{{dictionary.getTranslate('vid_v','Вид Деятельности')}}" class="form-control" id="wordEnter" [ngClass]="{ 'is-invalid': submitted && f.wordEnter.errors }" />
                      <div class="error">
                          <div *ngIf="submitted && f.wordEnter.errors">
                             <div *ngIf="f.wordEnter.errors.required">Введите вид Деятельности</div>
                             <div *ngIf="!f.wordEnter.errors.required && f.wordEnter.errors.emptySpaces">Введите корректно вид деятельности</div>
                          </div>
                      </div>
                    </div>

                  </div>  


                  <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firma">{{dictionary.getTranslate('shot_descr','Краткое описание')}}</label>
                    <input type="text" formControlName="firma" placeholder="{{dictionary.getTranslate('shot_descr','Краткое описание')}}" class="form-control" id="firma" [ngClass]="{ 'is-invalid': submitted && f.firma.errors }" />
                    <div class="error">
                        <div *ngIf="submitted && f.firma.errors">
                           <div *ngIf="f.firma.errors.required">Введите краткое описание</div>
                           <div *ngIf="!f.firma.errors.required && f.firma.errors.emptySpaces">Введите корректно описание</div>
                        </div>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="eMailBlankRequest">{{dictionary.getTranslate('email_d','E-mail (для связи с разработчиком)')}}</label>
                    <input type="text" formControlName="eMailBlankRequest" placeholder="E-mail" class="form-control" id="eMailBlankRequest" [ngClass]="{ 'is-invalid': submitted && f.eMailBlankRequest.errors }" />
                    <div class="error">
                        <div *ngIf="submitted && f.eMailBlankRequest.errors">
                           <div *ngIf="f.eMailBlankRequest.errors.required">Введите E-mail</div>
                           <div *ngIf="!f.eMailBlankRequest.errors.required && f.eMailBlankRequest.errors.emptySpaces">Введите корректно E-mail</div>
                        </div>
                    </div>
                  </div>
                </div>

                  <div class="form-group">
                    <input class="isShowGDate" class="chkbox" type="checkbox" formControlName="isShowGDate" />
                    <label for="wordEnter">{{dictionary.getTranslate('gallery_date','Отображение даты в галерее')}}</label>
                  </div>

                  <div class="form-group">
                    <label for="wordEnter">{{dictionary.getTranslate('default_lang','Язык магазина по умолчанию')}}:</label>
                      <select formControlName="dz">
                        <option *ngFor="let language of languages" [value]="language">{{language}}</option>
                      </select>
                  </div>


                  <div *ngIf="showHideItem('old-view-make-advert')" class="form-group">
                    <input class="chkbox" type="checkbox" formControlName="pageKind" />
                    <label for="wordEnter">{{dictionary.getTranslate('old-view-make-advert',"Старый вид страницы 'Создать объявление'")}}</label>
                  </div>

                  <div *ngIf="showHideItem('accept-moving-adverts')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isMoveAllow" formControlName="isMoveAllow" />
                    <label for="isMoveAllow">{{dictionary.getTranslate('accept-moving-adverts',"Разрешить перемещение выбранных объявлений")}}</label>
                  </div>

                  <div *ngIf="showHideItem('subscribe-to-mail')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isRequestGoods" formControlName="isRequestGoods" />
                    <label for="isRequestGoods">{{dictionary.getTranslate('subscribe-to-mail',"Подписка на рассылку")}}</label>
                  </div>

                  <div *ngIf="showHideItem('accept-access-to-main-page')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isWithHomePage" formControlName="isWithHomePage" />
                    <label for="isWithHomePage">{{dictionary.getTranslate('accept-access-to-main-page',"Разрешить показ главной страницы")}}</label>
                  </div>

                  <div *ngIf="showHideItem('show-slideshow-button')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isSlideShow" formControlName="isSlideShow" />
                    <label for="isSlideShow">{{dictionary.getTranslate('show-slideshow-button',"Отобразить кнопку Слайдшоу")}}</label>
                  </div>

                  <div *ngIf="showHideItem('show-map')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isMapShow" formControlName="isMapShow" />
                    <label for="isMapShow">{{dictionary.getTranslate('show-map',"Разрешить использование карты")}}</label>
                  </div>

                  <div *ngIf="showHideItem('show-links-media')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isShowMediaLink" formControlName="isShowMediaLink" />
                    <label for="isShowMediaLink">{{dictionary.getTranslate('show-links-media',"Отображение ссылок на медиафайлы")}}</label>
                  </div>

                  <div *ngIf="showHideItem('show-links-media')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isLoadShowVideo" formControlName="isLoadShowVideo" />
                    <label for="isLoadShowVideo">{{dictionary.getTranslate('accept-upload-video',"Разрешить загрузку и показ видео")}}</label>
                  </div>

                  <div *ngIf="showHideItem('show-links-media')" class="form-group">
                    <input class="chkbox" type="checkbox" id="isMakeAdvFromExtPict" formControlName="isMakeAdvFromExtPict" />
                    <label for="isMakeAdvFromExtPict">{{dictionary.getTranslate('accept-image-adv',"Разрешить создание объявлений из доп. картинок")}}</label>
                  </div>

                  <div *ngIf="showHideItem('site-sort')" class="form-group col-md-6">
                    <label for="Password">{{dictionary.getTranslate('site-sort',"Сортировка сайта:")}}</label>
                    <select class="form-control" formControlName="isSearchPageVariant">
                        <option *ngFor="let sort of siteSort" [value]="sort.value">{{sort.title()}}</option>
                      </select>
                  </div>

                  <button type="button" (click)="saveSettings()" class="btn btn-secondary mt-3 mb-3">{{dictionary.getTranslate('save','Сохранить')}}</button>
              </div>
              <!-- <div style="width: 40%; height: 600px">
                <button style="position: fixed;" type="button" (click)="saveSettings()" class="btn btn-secondary mt-3">Сохранить</button>
              </div> -->

      </div>
</section>
