<section *ngIf="(isAuthenticated | async)" class="menu">
<div routerLink="/" class="menu__logo">
    <img src="../../../../assets/images/logo.png" alt="" class="menu__image-logo">
</div>
<div class="menu__navigation">
    <ul class="menu__items">
        <li routerLink="/categories" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img height="20px" src="../../../../assets/images/navigation/kisspng-computer.png" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    {{local.getTranslate('cats','Категории')}}
                </div>
            </div>
        </li>
        <li routerLink="/catalog" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_07.png" height="25" width="25" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    {{local.getTranslate('catalog','Каталог')}}
                </div>
            </div>
        </li>
        <li routerLink="/adverts" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_02.png"  alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    {{local.getTranslate('adverts','Обьявления')}}
                </div>
            </div>
        </li>
        <!-- <li routerLink="/clients" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_03.png" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    Клиенты
                </div>
            </div>
        </li> -->
        <li *ngIf="false" routerLink="/clients" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_04.png" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    Клиенты
                </div>
            </div>
        </li>
        <!-- <li routerLink="/assets" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_05.png" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    Статистика
                </div>
            </div>
        </li> -->
        <li routerLink="/settings" routerLinkActive="menu__items__item-active" class="menu__items__item">
            <div class="menu__element">
                <div class="menu__icon">
                    <img src="../../../../assets/images/navigation/navi_06.png" alt="" class="menu__image-element">
                </div>
                <div class="menu__description">
                    Настройки
                </div>
            </div>
        </li>
    </ul>
</div>
</section>
