.menu{
    display: flex;
    flex-direction: column;
    color: white;
    width: 96px;
    height: 100vh;
    @media screen and (max-width: 600px) {
        display: none;
        width: 100%;
        height: 40px;
    }
    background-color: #002137;
    &__logo{
        margin-top: 16px;
        margin-left: 26px;
        cursor: pointer;
        @media screen and (max-width: 600px) {
            display: none;
            margin: none;
        }
    }
    &__image-logo{
        width: 52px;
        height: 44px;
    }
    &__navigation{
        @media screen and (max-width: 600px) {
            width: 100%;
            height: 40px;
        }
        .menu__items{
            padding: 0;
            @media screen and (max-width: 600px) {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            &__item{
                width: 96px;
                height: 71px;
                @media screen and (max-width: 600px) {
                    width: 51px;
                    height: 40px;
                }
                list-style-type: none;
                &-active , &:hover, &:focus{
                    background-color: #002C49;
                    cursor: pointer;
                    outline: none;
                }
            }
            
        }
    }
    &__element{
        margin-left: 14px;
        padding-top: 11px;
        width: 68px;
        height: 43px;
        @media screen and (max-width: 600px) {
            margin-left: none;
            width: 51px;
            height: 37px;
        }
        .menu__description{
            margin-top: 7px;
            font-family: "Myriad";
            font-size: 12px;
            opacity: 0.6;
            text-align: center;
        }
    }
    &__image-element{
        filter: invert(1);
        margin-left: 23px;
        @media screen and (max-width: 600px) {
            margin-left: 0px;
            margin-bottom: 5px;
        }
    }

}