$color-blue: #2E4A57;
@mixin display-justify($display, $justify) {
    display: $display;
    justify-content: $justify;
}

@mixin display-align($display, $align) {
    display: $display;
    align-items: $align;
}

@mixin display-align-justify($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin operation-navigate($background, $color, $clip-path) {
    background: $background;
    color: $color;
    clip-path: $clip-path;
}