<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <!-- <span>{{ progressInfo.fileName }}</span> -->
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.value + '%' }"
      >
        {{ progressInfo.value }}%
      </div>
    </div>
  </div>

    <input style="display: none;" [multiple]="!singleMode" type="file" (change)="selectFiles($event)" #fileInput accept="image/*">
    <button *ngIf="(singleMode && fileInfos.length == 0) || !singleMode" type="button" (click)="fileInput.click()" style="border-radius: 5px; margin-bottom: 10px;" class="btn btn-info btn-block btn-flat">
        <i class="fa fa-upload"></i> 
        {{dictionary.getTranslate('upload_photo','загрузить фото')}}
    </button>

    <div *ngIf="message" class="alert alert-light" role="alert">{{ message }}</div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">  
        <div class="example-box" *ngFor="let file of fileInfos, index as i" cdkDrag>
          
        <div cdkDragHandle class="w-100 drag-content mr-1">
            <img class="img-item img-thumbnail" src="https://{{file.link}}" alt=""> 
        </div>
        <div cdkDragHandle *ngIf="!singleMode" class="w-10 drag-index">
            <span>{{i+1}}</span>
        </div>
        <!-- <div matTooltip="Главная картинка" class="w-10 selecter">
            <mat-checkbox [checked]="file.isMain" (change)="setMainImg(i)"></mat-checkbox>  
        </div> -->
        <div cdkDragHandle class="w-10 delete-icon">
          <button *ngIf="!singleMode && audioAttach" (click)="attachAudio(i,file.audio)" mat-icon-button>
            <i *ngIf="!file.audio" class="fas fa-music"></i>
            <i *ngIf="file.audio" class="fas fa-headphones"></i>
          </button>
          <button *ngIf="!singleMode || (singleMode && !isEditMode)" mat-icon-button>
            <i class="material-icons" (click)="delete(i)">delete_outline</i>
          </button>
          <button *ngIf="singleMode && isEditMode" mat-icon-button>
            <input style="display: none;" [multiple]="!singleMode" type="file" (change)="selectFiles($event,i)" #fileInput accept="image/*">
            <i class="material-icons" type="file" (click)="fileInput.click()" >edit_outline</i>
          </button>
        </div>
      </div>
    </div>

    

