<section class="bg">
  <div class="container">
  <div class="b-container">
    <input style="display: none;"
    type="file"
    name="onFilesMultipleSelectedAdd"
    (change)="fileChangeEvent($event)"
    #filesInputAdd
    accept="image/*"
    [disabled]="false">
    <div class="alert alert-primary mt-5" style="font-weight: bold; font-size: 14px;">{{dictionary.getTranslate('img_log_rules','Горизонтальный фон - 1920x1080, вертикальный - 1080x1920, желательный размер картинки - не более 300 Кб.')}}</div>
    <div *ngIf="!isLimitReached" class="navigation mt-1">
      <div *ngIf="!file" (click)="filesInputAdd.click()" class="select-image">
        <span>{{dictionary.getTranslate('select_bg_img','Выберите фоновое изображение')}}</span>
        <i class="fa fa-upload arrow" aria-hidden="true"></i>
        </div>
        <div *ngIf="file" (click)="deleteSelectedBackground()" class="select-image">
          <span>{{dictionary.getTranslate('delete_curr_img','Удалить текущеее изображение')}}</span><i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <div *ngIf="file" class="select-image upload-btn ml-4">
          <span (click)="uploadImage()" *ngIf="!isUploading">{{dictionary.getTranslate('upload','Загрузить')}}</span>
          <span *ngIf="isUploading">{{dictionary.getTranslate('uploading','Загружаю')}} <i class="fa fa-spinner fa-spin"></i></span>
        </div>   
    </div>
    <div *ngIf="isLimitReached" class="alert alert-warning" style="font-weight: bold; font-size: 18px;">Вы не можете загружать новые фоновые изображения пока не удалите старые! Лимит: {{limitOfUploadingImages}} изображений.</div>
    <div class="form-group mt-4" [formGroup]="bgConfiguration">
      <span class="configuration_block">
        <div class="label_title">{{dictionary.getTranslate('orientation','Ориентация:')}}</div>
        <select  (change)="changeOrientation()" formControlName="orientation" required placeholder="d.ff" class="form-control col-lg-4 col-xs-4" style="width: 350px" id="orientationId">
          <!-- <option [ngValue]="null" disabled selected hidden>Выберите категорию продукта*</option> -->
          <option *ngFor='let orientation of orientations' [value]="orientation.value">{{orientation.name}}</option>
        </select>
        <div class="label_title ml-1">{{dictionary.getTranslate('rasp','Расположение:')}}</div>
        <select (change)="changePlace()" formControlName="place" required placeholder="d.ff" style="width: 300px" class="form-control col-lg-4 col-xs-4" id="orientationId">
          <!-- <option [ngValue]="null" disabled selected hidden>Выберите категорию продукта*</option> -->
          <option *ngFor='let place of places' [value]="place.value">{{place.name}}</option>
        </select>
      </span>
    </div> 
  
    <div class="backgrounds-container col-lg-12 col-xs-12 mt-3">
      <div *ngIf="isUpdating" class="coolSpinner spinLoading"></div>
      <div *ngFor="let item of backgrounds" class="item" [ngClass]="{'loadingBackgrounds' : isUpdating }" [ngStyle]="{'background-image':'url(https://'+item.fileName+')','width': getOrientationWidth(item.orientation)}" >
        <div  (click)="delete(item.fileName)" class="close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
    </div>
  
  
  </section>