<ng-container *ngIf="!spinner">
  <span *ngIf="data.actionType== 1" class="font-weight-bold">{{dictionary.getTranslate('insert_cat_name','Введите имя категории')}}:</span>
  <span *ngIf="data.actionType== 2" class="font-weight-bold">{{dictionary.getTranslate('insert_new_cat_name','Введите новое имя категории')}}:</span>
  <p *ngIf="data.actionType== 3" class="font-weight-bold text-center">{{dictionary.getTranslate('want_delete_cat','Введите новое имя категории ?')}}</p>
  <p *ngIf="data.actionType== 4" class="font-weight-bold text-center">{{dictionary.getTranslate('sure_want_delete_cat','Вы уверены что хотите удалить все разделы?')}}</p>
  <p *ngIf="data.actionType== 3" class="font-weight-normal text-center">'{{data.txt}}'</p>
</ng-container>

<form [formGroup]="catalogForm">
<div mat-dialog-content >
  <div class="form-group" >
    <div class="mt-1 mb-1">
      <div *ngIf="spinner" class="spinner">
        <img src="../../../../assets/images/spinner.gif" alt="">
      </div>
        <input *ngIf="notForDelete && !spinner" type="text" class="form-control" formControlName="Name" placeholder="Имя категории" aria-label="Category name" aria-describedby="basic-addon2">
      </div>
    <div *ngIf="submitted && f.Name.errors" class="error"> 
      <div *ngIf="f.Name.errors.required">{{dictionary.getTranslate('insert_name_cat','Введите название категории')}}</div>
      <div *ngIf="!f.Name.errors.required && f.Name.errors.emptySpaces">{{dictionary.getTranslate('insert_correct_name','Введите корректно название')}}</div>
    </div>
  </div>
</div>

<div *ngIf="!spinner" class="text-center mt-2">
  <button [disabled]="spinner" class="btn btn-outline-secondary mr-3" (click)="saveButton()" type="button">{{(data.actionType == 1 || data.actionType == 2) ? dictionary.getTranslate('save','Сохранить') : dictionary.getTranslate('delete','Удалить')}}</button>
  <button class="btn btn-light" (click)="onNoClick()">{{dictionary.getTranslate('cancel','Отмена')}}</button>
</div>
</form>


  