.error{
    color: red;
}
.font-weight-bold{
    font-size: 17px;
}
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 250px;
        margin-bottom: 3px;
    }
}
.inp{
    display: flex;
    flex-direction: column;
}