<div class="mobile_categories" *ngIf="categories.length > 0">
    <div class="categories_header">Выберите раздел каталога</div>
    <div class="categories_list top-level" *ngFor="let category of categories, let index = index">
      <a class="category_item"
         (click)="click(0, category)"
         *ngIf="isShowItem(0, category)"
         style="font-size: 20px"
         [class.selected]="true"
      >
       {{category.txt}}
      </a>
      <div class="list_container" *ngIf="isShowSubitems(0, category)">
        <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
          <a class="category_item"
             (click)="click(1, category)"
             *ngIf="isShowItem(1, category)"
             [class.selected-third]="isSelected(1, category)"
          >
          {{category.txt}}
          </a>
          <div class="list_container" *ngIf="isShowSubitems(1, category)">
            <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
              <a class="category_item"
                 (click)="click(2, category)"
                 *ngIf="isShowItem(2, category)"
                 [class.selected-second]="isSelected(2, category)"
              >
              {{category.txt}}
              </a>
              <div class="list_container" *ngIf="isShowSubitems(2, category)">
                <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
                  <a class="category_item"
                     (click)="click(3, category)"
                     *ngIf="isShowItem(3, category)"
                     [class.selected-fourth]="isSelected(3, category)"
                  >
                  {{category.txt}}
                  </a>
                  <div class="list_container" *ngIf="isShowSubitems(3, category)">
                    <div class="categories_list" *ngFor="let category of category.listInnerCat, let index = index">
                      <a class="category_item"
                         (click)="click(4, category)"
                         *ngIf="isShowItem(4, category)"
                         [class.selected-five]="isSelected(4, category)"
                      >
                      {{category.txt}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
