.mobile_categories {
    background: white;
    border: 1px white solid;
    margin-bottom: 5px;
    .categories_header {
      border: 2px solid #189691;
      font-size: 16px;
      font-weight: bold;
      display: none;
      padding: 3px;
    }
    .categories_list {
      font-size: 16px;
      font-weight: bold;
      .category_item {
        border-bottom: 2px solid #189691;
        display: block;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        height: 50px;
        font-weight: bold;
        padding: 9px 2px;
        height: auto;
        &.selected {
          background: #189691;
          border-bottom: 2px solid white;
          color: white;
        }
        &.selected-first {
          background: blue;
          border-bottom: 2px solid white;
          color: white;
        }
        &.selected-second {
          background: lemonchiffon;
          border-bottom: 2px solid green;
          color: black;
        }
        &.selected-third {
          background: skyblue;
          border-bottom: 2px solid white;
          color: black;
        }
        &.selected-fourth {
          background: #1ad3cd;
          border-bottom: 2px solid white;
          color: black;
        }
        &.selected-five {
          background: rgb(207, 198, 198);
          border-bottom: 2px solid white;
          color: black;
        }
      }
      &.top-level {
        border-right: 2px solid #189691;
        border-left: 2px solid #189691;
      }
    }
  }
  