<control-catalog delAllButton="true" position="0" parameter="0"></control-catalog>
<!-- <section class="catalog-control">
    <span class="alert alert-primary inform">{{dictionary.getTranslate('insert_phone_client','Введите номер телефона клиента, для выгрузки каталога')}}</span>
    <div [formGroup]="phoneForm" class="phone-control">
        <select (change)="changePosition()" formControlName="position" required placeholder="d.ff" class="form-control select-position mb-2" style="width: 250px" id="orientationId">
            <option *ngFor='let position of positions' [value]="position.value">{{position.name}}</option>
        </select>
        <div class="input-group mb-2">   
            <div class="flex">
                <input (focus)="resetValidation()" formControlName="phone" type="text" class="form-control" placeholder="{{dictionary.getTranslate('phone_number','номер телефона')}}" aria-describedby="button-addon2">
            </div>       
            <div class="input-group-append">
              <button *ngIf="!isDataLoaded" class="btn btn-outline-secondary" type="button" (click)="findData()" id="button-addon2">{{dictionary.getTranslate('apply','Применить')}}</button>
              <button *ngIf="isDataLoaded" class="btn btn-primary" type="button" (click)="reset()" id="button-addon2">{{dictionary.getTranslate('reset','Сброс')}}</button>
            </div>

        </div>
        <div class="validation">
            <div style="height: 40px;" *ngIf="submitted && f.phone.errors">
                <span class="alert alert-warning" *ngIf="f.phone.errors.required">{{dictionary.getTranslate('input_phone','Введите телефон')}}</span>
                <span class="alert alert-warning" *ngIf="f.phone.errors.pattern">{{dictionary.getTranslate('input_phone_cifr','Введите телефон в цифровом формате')}}</span>
                <span class="alert alert-warning" *ngIf="!f.phone.errors.pattern && !f.phone.errors.required && f.phone.errors.emptySpaces">{{dictionary.getTranslate('input_phone_correctly','Введите корректно телефон')}}</span>
             </div>
        </div>
    </div>

    <desktop-categories
    (lastChildAction)="onCategoriesClick($event)"
    [initialCategories]="initialCategories.slice(0, -1)"
    [selectionMode]="isDataLoaded"
    [categories]="(categoriesService.mainCategories$) | async"
  ></desktop-categories>
</section> -->
