<h2 mat-dialog-title>{{ dictionary.getTranslate("control-point", "Управление") }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="items">

    <table *ngIf="items.length; else noData;" class="table-container">
        <thead>
            <tr>
                <th>{{ dictionary.getTranslate("point-name", "Название точки") }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; index as p" [ngClass]="p % 2 ? 'tr white' : 'tr grey'">
                <td style="width: 100%;">
                    {{item.geoname}}
                </td>
                <td style="width: 45px;">
                  <button style="margin-right: 15px;" (click)="editItem(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </td>
                <td style="width: 45px;">
                    <button style="margin-right: 15px;" (click)="deleteItem(p)"> <i class="fa fa-times" aria-hidden="true"></i></button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <ng-template #noData>
            <span>{{ dictionary.getTranslate("map-points-not-deleted", "Точки для удаления не найдены") }}</span>
    </ng-template>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" (click)="save()" mat-button class="btn btn-secondary">
    {{ dictionary.getTranslate("save", "Сохранить") }}
  </button>
  <button type="button" mat-button mat-dialog-close class="btn btn-danger">
    {{ dictionary.getTranslate("close", "Закрыть") }}
  </button>
</mat-dialog-actions>
