.tr.white {
  background-color: #f0f1f2;
}
.tr.grey {
  background-color: #bbcad2;
}

// tbody {
//   height: 200px;
//   display: inline-block;
//   width: 100% !important;
//   overflow: auto;
// }

.table-container {
  height: 400px;
}
table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
table thead {
  /* head takes the height it requires, 
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}
table tbody tr {
  width: 100%;
  height: 40px;
  td {
    padding-left: 4px;
  }
}
table thead, table tbody tr {
  display: table;
  table-layout: fixed;
}

::ng-deep .full-width-dialog {
  max-width: 100vw !important;
}