<span *ngIf="showCheckbox" [formGroup]="checkbox">
  <!-- <i *ngIf="hasHist && showCheckbox" class="fa fa-circle hint"></i> -->
  <span *ngIf="!hasHist" class="checkbox-clr">
    <input type="checkbox" class="hist" (click)="onChange()" formControlName="value" [ngClass]="{mobileCheckbox: isMobileVersion}" [id]="catalogData.id"> <label [for]="catalogData.id"></label>
  </span>
  <span *ngIf="hasHist" class="checkbox-red">
    <input type="checkbox" class="hist" (click)="onChange()" formControlName="value" [ngClass]="{mobileCheckbox: isMobileVersion}" [id]="catalogData.id"> <label [for]="catalogData.id"></label>
  </span>

</span>
<i *ngIf="hasArrow" class="fa fa-arrow-right" style="color: blue;"></i>
