//$catalogItemWidth: 225px; //275px

.desktop-categories{
    padding: 10px 15px;
    height: auto;
    ul.left-menu {
        margin: 0px;
        padding: 0;
      //  height: auto !important;
        height: auto !important;
        //height: calc(60vh);
        @media screen and (max-width: 1024px) {
          margin: 20px 0 0 0;
        }
      
        h5 {
          font-size: 16px;
          padding: 3px;
          font-weight: bold;
          min-width: calc(var(--catalogItemWidth) - var(--catalogItemWidth)*0.2); // 250px;
          max-width: var(--catalogItemWidth); // 275px;   catalog width =================================
          width: 100%;
          background: #ffffff;
          margin: 0;
          border-top: 2px solid #189691;
          border-right: 2px solid #189691;
          border-left: 2px solid #189691;
          img{
            margin-left: 12px;
          }
        }
      
        ul {
          padding: 0;
      
          min-width: calc(var(--catalogItemWidth) - var(--catalogItemWidth)*0.2); // 250px;
          max-width: var(--catalogItemWidth); // 275px;   catalog width =================================
          width: 100%;
          position: relative;
          border: 2px solid #189691;
          @media screen and (max-width: 1024px) {
            border: none;
          }
        }
      
        ul#first-menu {
          @media screen and (max-width: 1024px) {
            border-right: 2px solid #189691;
            border-left: 2px solid #189691;
          }
          .nav-item{
            display: flex;
            border-bottom: 1px black solid;
            .editMode{
              margin-left: auto;
              margin-right: 3px;
              position: relative;
              display: inline-block;
              &:hover{
                background-color: blue;
              }
              .modify{
                width: 20px;
                height: 100%;
                color: black;
                cursor: pointer;
                i{
                  margin-left: 4px;
                  transform: scale(1.2) !important;
                }
                &::last-child{
                  cursor: pointer !important;
                  margin-left: 10px;
                }
              }
              
            }
            .dropdown-child {
              display: none;
              background-color: lightgray;
              min-width: 190px;
          }
          .dropdown-child a {
              color: black;
              border-bottom: 1px black solid;
              height: 25px;
              text-decoration: none;
              display: block;
              i{
                transform: scale(1.2);
              }
              &:hover{
                background-color: #189691;
              }
          }

            .editMode:hover .dropdown-child {
              display: block;
              position: absolute;
              z-index: 999;
              left: 5px;
              &:last-child{
                left: -180px;
              }
            }
          }
        }
      
        li {
          cursor: pointer;
          list-style: none;
          background: #ffffff;
          @media screen and (max-width: 1024px) {
            border-top: 1px solid #189691;
            border-bottom: 1px solid #189691;
          }
      
          a {
            display: block;
            color: #000000;
            font-size: 12px;
            padding: 2px 0px 2px 5px;
            font-size: 14px;
            font-weight: bold;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap; //Mozilla
            white-space: -o-pre-wrap; //Opera
            word-wrap: break-word; //Internet Explorer 6+
        //    border-bottom: 1px black solid;
          }
        }
      
        li.active{
          background: #189691;
          color: #fff;
         // padding-left: 5px;
        }
      
        .active > ul {
          display: block !important;
          position: absolute;
          top: -2px;
          left: calc(var(--catalogItemWidth) - 2px); // 269px;   catalog width =================================
          &#dd1{
            left: calc(var(--catalogItemWidth) - 4px) !important;
          }
          &#dd2{
            left: calc(var(--catalogItemWidth) - 7px) !important;
          }
          &#dd3{
            left: calc(var(--catalogItemWidth) - 10px) !important;
          }
          &#dd4{
            left: calc(var(--catalogItemWidth) - 14px) !important;
          }
        }
        .hidden{
          visibility: hidden
        }
    }
}

  
  