<div class="desktop-categories">
    {{onRedraw()}}
    <ul class="nav flex-column flex-nowrap left-menu">
      <h5 class="pl-2">{{dictionary.getTranslate('select_cat','Выберите раздел каталога')}} 
        <ng-container *ngIf="contextMenuMode && !editMode && _categories && _categories.length">
          <i style="cursor: pointer;" mat-button [matMenuTriggerFor]="menu" class="fa fa-bars mt-1" style="transform: scale(1) !important;" aria-hidden="true"></i>
        </ng-container>
        <i  *ngIf="editMode"class="fa fa-plus ml-2 mr-2 pointer" (click)="modifyCat(1,{},10)" aria-hidden="true"></i>
        <i  *ngIf="editMode"class="fa fa-trash ml-2 mr-2 pointer" (click)="deleteCatalog()" aria-hidden="true"></i> 
        <ng-container *ngIf="editMode">
          <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,{listInnerCat: _categories},10)"><i class="fa fa-trash pointer" aria-hidden="true"></i></a>
        </ng-container>
        <img *ngIf="(isCategoriesLoaded | async)" [src]="loadingImage" /></h5> 
      <ul id="first-menu">
        <li class="nav-item" *ngFor="let l1 of _categories let x = index" (click)="select(0, l1, $event);" [ngClass]="{active: isSelected(0, l1)}">
          <a><app-checkbox *ngIf="selectionMode" [catalogCheckboxType]="selectionTypeMode" (status)="subscribeResult($event)"  [isChecked]="l1.isrequest" [catalogData]="l1"></app-checkbox>{{limiter(l1.txt)}}</a>
          <ng-container *ngTemplateOutlet="contextMode; context: { $implicit: 'context',item: l1, selectType: 0 }"></ng-container>
          <div *ngIf="editMode" class="editMode">
            <div (mouseenter) ="modifyOpened(true)"  (mouseleave) ="modifyOpened(false)" class="dropdown-child">
              <a (click)="modifyCat(1,l1,0,$event)">{{dictionary.getTranslate('select_subcat','Добавить подраздел')}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
              <a (click)="modifyCat(2,l1,0)">{{dictionary.getTranslate('rename','Переименовать')}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
              <a (click)="modifyCat(3,l1,0)">{{dictionary.getTranslate('delete_cat','Удалить раздел')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
              <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,l1,0)">{{dictionary.getTranslate('delete_all_cat','Удалить все разделы')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
          </div> 
          <ul id="dd1" [ngClass]="{'hidden': l1.listInnerCat.length == 0}" *ngIf="isShowSubitems(0, l1)"> 
            <li class="nav-item" *ngFor="let l2 of l1.listInnerCat let y = index" (click)="select(1, l2, $event);" [ngClass]="{active: isSelected(1, l2)}">
              <a><app-checkbox *ngIf="selectionMode" [catalogCheckboxType]="selectionTypeMode" (status)="subscribeResult($event)"  [isChecked]="l2.isrequest" [catalogData]="l2"></app-checkbox>{{limiter(l2.txt)}}</a>
              <ng-container *ngTemplateOutlet="contextMode; context: { $implicit: 'context',item: l2, selectType: 1 }"></ng-container>
              <div *ngIf="editMode" class="editMode">
                <div (mouseenter) ="modifyOpened(true)"  (mouseleave) ="modifyOpened(false)" class="dropdown-child">
                  <a (click)="modifyCat(1,l2)">{{dictionary.getTranslate('select_subcat','Добавить подраздел')}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                  <a (click)="modifyCat(2,l2)">{{dictionary.getTranslate('rename','Переименовать')}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                  <a (click)="modifyCat(3,l2)">{{dictionary.getTranslate('delete_cat','Удалить раздел')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                  <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,l2)">{{dictionary.getTranslate('delete_all_cat','Удалить все разделы')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
              </div> 
              <ul id="dd2" [ngClass]="{'hidden': l2.listInnerCat.length == 0}" *ngIf="isShowSubitems(1, l2)">
                <li class="nav-item" *ngFor="let l3 of l2.listInnerCat let z = index" (click)="select(2, l3, $event);" [ngClass]="{active: isSelected(2, l3)}">
                  <a><app-checkbox *ngIf="selectionMode" [catalogCheckboxType]="selectionTypeMode" (status)="subscribeResult($event)"  [isChecked]="l3.isrequest" [catalogData]="l3"></app-checkbox>{{limiter(l3.txt)}}</a>
                  <ng-container *ngTemplateOutlet="contextMode; context: { $implicit: 'context',item: l3, selectType: 2 }"></ng-container>
                  <div *ngIf="editMode" class="editMode">
                    <div (mouseenter) ="modifyOpened(true)"  (mouseleave) ="modifyOpened(false)" class="dropdown-child">
                      <a (click)="modifyCat(1,l3,2)">{{dictionary.getTranslate('select_subcat','Добавить подраздел')}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                      <a (click)="modifyCat(2,l3,2)">{{dictionary.getTranslate('rename','Переименовать')}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                      <a (click)="modifyCat(3,l3,2)">{{dictionary.getTranslate('delete_cat','Удалить раздел')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                      <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,l3,2)">{{dictionary.getTranslate('delete_all_cat','Удалить все разделы')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                    <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                  </div> 
                  <ul id="dd3" [ngClass]="{'hidden': l3.listInnerCat.length == 0}" *ngIf="isShowSubitems(2, l3)">
                    <li class="nav-item" *ngFor="let l4 of l3.listInnerCat let q = index" (click)="select(3, l4, $event);" [ngClass]="{active: isSelected(3, l4)}">
                      <a><app-checkbox *ngIf="selectionMode" [catalogCheckboxType]="selectionTypeMode" (status)="subscribeResult($event)"  [isChecked]="l4.isrequest" [catalogData]="l4"></app-checkbox>{{limiter(l4.txt)}}</a>
                      <ng-container *ngTemplateOutlet="contextMode; context: { $implicit: 'context',item: l4, selectType: 3 }"></ng-container>
                      <div *ngIf="editMode" class="editMode">
                        <div (mouseenter) ="modifyOpened(true)" (mouseleave) ="modifyOpened(false)" class="dropdown-child">
                          <a (click)="modifyCat(1,l4,3)">{{dictionary.getTranslate('select_subcat','Добавить подраздел')}} <i class="fa fa-plus ml-2" aria-hidden="true"></i></a>
                          <a (click)="modifyCat(2,l4,3)">{{dictionary.getTranslate('rename','Переименовать')}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                          <a (click)="modifyCat(3,l4,3)">{{dictionary.getTranslate('delete_cat','Удалить раздел')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                          <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,l4,3)">{{dictionary.getTranslate('delete_all_cat','Удалить все разделы')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                        <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                      </div> 
                      <ul id="dd4" [ngClass]="{'hidden': l4.listInnerCat.length == 0}" *ngIf="isShowSubitems(3, l4)">
                        <li class="nav-item" *ngFor="let l5 of l4.listInnerCat let w = index" (click)="select(4, l5, $event);" [ngClass]="{active: isSelected(4, l5)}">
                          <a><app-checkbox *ngIf="selectionMode" [catalogCheckboxType]="selectionTypeMode" (status)="subscribeResult($event)"  [isChecked]="l5.isrequest" [catalogData]="l5"></app-checkbox>{{limiter(l5.txt)}}</a>
                          <ng-container *ngTemplateOutlet="contextMode; context: { $implicit: 'context',item: l5, selectType: 4 }"></ng-container>
                          <div *ngIf="editMode" class="editMode">
                            <div (mouseenter) ="modifyOpened(true)" (mouseleave) ="modifyOpened(false)" class="dropdown-child">
                              <a (click)="modifyCat(2,l5,4)">{{dictionary.getTranslate('rename','Переименовать')}} <i class="fa fa-pencil ml-1" aria-hidden="true"></i> </a>
                              <a (click)="modifyCat(3,l5,4)">{{dictionary.getTranslate('delete_cat','Удалить раздел')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                              <a *ngIf="(authService.isSuperAdmin() | async)" (click)="modifyCat(4,l5,4)">{{dictionary.getTranslate('delete_all_cat','Удалить все разделы')}} <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                            <div class="modify"><i class="fa fa-pencil-square-o mt-1" aria-hidden="true"></i></div>
                          </div> 
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul style="background-color: white; padding-left: 7px; color: red; font-weight: bold;"  *ngIf="_categories.length == 0 && loaded">
        {{dictionary.getTranslate('cats_not_found','Разделы не найдены')}}
      </ul>
    </ul>
  </div>

  <ng-template #contextMode let-item="item" let-type="selectType">
    <div *ngIf="contextMenuMode && !editMode && isSelected(type, item) && item.listInnerCat && item.listInnerCat.length" class="editMode">
      <div (mouseenter) ="modifyOpened(true)" (mouseleave) ="modifyOpened(false)" class="dropdown-child">
        <a (click)="selectSubcat(item); $event.stopPropagation()">{{dictionary.getTranslate('choice_subcat','Выбрать все суб.')}} <i class="fa fa-check-square-o ml-2" aria-hidden="true"></i></a>
        <a (click)="unselectSubcat(item); $event.stopPropagation()">{{dictionary.getTranslate('unchoice_subcat','Сбросить все суб.')}} <i class="fa fa-square-o ml-1" aria-hidden="true"></i> </a>
      </div>
      <div class="modify"><i class="fa fa-bars mt-1" style="transform: scale(1) !important;" aria-hidden="true"></i></div>
    </div> 
</ng-template>

<mat-menu #menu="matMenu">
  <button (click)="selectSubcat({listInnerCat: _categories})" mat-menu-item>{{dictionary.getTranslate('choice_subcat','Выбрать все суб.')}}</button>
  <button (click)="unselectSubcat({listInnerCat: _categories})" mat-menu-item>{{dictionary.getTranslate('unchoice_subcat','Сбросить все суб.')}}</button>
</mat-menu>
  
