<!-- <div class="footer py-1 text-center text-muted">
    <small style="color: lightgray">Система управления магазином тест.головинский.рф </small>
</div> -->

<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> {{version}}
    </div>
    <strong>{{dictionary.getTranslate('control_system','Система управления магазином')}} </strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <h5>{{dictionary.getTranslate('superadmin','Суперадмин')}}</h5>
    <ul class="admin-menu" >
      <li  *ngFor="let route of pages.saRoutes"><a [routerLink]="route.route" [queryParams]="route.params" data-widget="control-sidebar" data-slide="true" class="admin-menu-item">{{route.title()}}</a></li>
      <li><a (click)="authService.logoutSA()" data-widget="control-sidebar" data-slide="true" class="admin-menu-item">{{dictionary.getTranslate('exit','Выйти')}}</a></li>
    </ul>
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
