.footer{
    position: absolute;
    background-color: #002137;
	left: 0;
	bottom: 0;
	width: 100%;
    height: 35px;
}
.control-sidebar{
    padding: 5px 7px;
}
.admin-menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    li{
        margin-bottom: 5px !important;
    }
    &-item{
        color: rgba(255, 255, 255, 0.808);
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }
}